#mktg-home-features
  +v-clipped-inverse
  +rel
  +bg($whitesmoke)
  +p2(70px 0)
  .foreground
    .content
      h3
        +suez-one
        +a-center
      .feature
        text-decoration: none
        +pt(10px)
        +pb(10px)
        +b(1px solid transparent)
        +a-center
        min-height: 120px
        @media screen and (max-width: 1000px)
          min-height: 140px
        @media screen and (max-width: 575px)
          min-height: unset
          +p2(10px 65px)
        .caption
          +bold
          +clr($description-text)
        .icon
          +p(5px)
          +block
          +mb(10px)
          i
            +b(1px solid $tertiary)
            +square(70px)
            +clr($grey)
            +a-center
            +radius(50%)
            +bg($tertiary-lightest)
            &::before
              +rel
              top: 25%
        &::after
          +underline
          +bg($tertiary)
          +rel
          top: 5px !important
          left: 50%
          transform: translateX(-50%)
          +h(2px)
          @media screen and (max-width: 575px)
            +none
        &:hover
          &::after
            +w(25%)
            opacity: 1
          .icon
            i
              +clr($grey)
              +bg($tertiary-light)