@keyframes zoom-in-out
  0%
    transform: scale(1)
  90%
    transform: scale(1.2)
  100%
    transform: scale(1.2)

#mktg-hero
  +w(100%)
  min-height: 600px
  +rel
  +o-flow(hidden)
  +bg($hero)
  +v-clipped
  @media screen and (max-width: 991px)
    min-height: 500px
  @media screen and (max-width: 575px)
    min-height: 450px
  @media screen and (max-width: 450px)
    min-height: 500px
  .foreground
    +pos(absolute, 0, 0, 0, 0)
    +z(1)
    .container
      +h(100%)
      .mouse-scroll
        +h-center(absolute)
      .content
        +v-center(relative)
        +a-center
        +w(100%)
        @media screen and (max-width: 575px)
          top: 50px !important
          transform: unset
        @media screen and (max-width: 500px)
          top: 20px !important
        figure
          +bg($hero-logo)
          +p(10px)
          +inline-block
          +mb(0)
        .tagline
          +clr($white)
          +w(100%)
          +suez-one
          +shadow-7
          +p2(0 20px)
          +m2(25px 0 !important)
        .action-button
          +shadow-1
  .background
    +pos(absolute, 0, 0, 0, 0)
    +brightness(70%)
    +bg-img('/assets/images/hero.jpg')
    animation: zoom-in-out 10s linear 0s infinite alternate