#mktg-home-logos
  +p2(70px 0)
  .column
    >div
      +box(100%, 100px)
      +m2(20px 0)
  .logo
    img
      +rel
      top: 50%
      transform: translateY(-50%)
      max-width: 100%
      max-height: 80px