<template>
    <div>
        <loader :is-running="isRunning"></loader>
        <b-container v-if="!isRunning" class="pt-2">
            <delete-modal></delete-modal>
            <unset-equipment-modal type="deleted"></unset-equipment-modal>

            <b-row>
                <b-col cols="3" class="text-left">
                    <b-form-select v-model="selectedYear" :options="years" id="select_year"
                                   @input="loadProjects()"></b-form-select>
                    <b-form-select v-model="selectedStatus" :options="statuses" class="mt-2"
                                   @input="loadProjects()"></b-form-select>
                </b-col>
                <b-col cols="6" class="text-center logo-preview">
                    <img v-if="company.logo" :src="company.public_logo_path" alt="Company Logo"
                         height="90">
                    <img v-else :src="companyLogo" alt="Company Logo" height="90">
                </b-col>
                <b-col cols="3" class="text-right">
                    <input type="text" class="form-control" placeholder="Search..." v-model="filter"
                           @input="filtering()">
                    <b-form-select v-model="selectedTeam" :options="teams" class="mt-2" v-if="user.role && user.role.name !== 'User'"
                                   @input="loadProjects()" value-field="id" text-field="name">
                    </b-form-select>
                </b-col>
            </b-row>
            <div class="card text-center mt-3">
                <div class="card-header">
                </div>
                <div class="card-body text-left p-0">
                    <b-table ref="projectTable" :items="projects" small :busy.sync="isBusy"
                             striped hover :fields="fields" :per-page="perPage"
                             :filter="filter" head-variant="">
                        <template slot="insured" slot-scope="row">
                            {{ row.item.owner_name ? row.item.owner_name : 'n/a'}}
                        </template>
                        <template slot="address" slot-scope="row">
                            {{ row.item.project_call_report ? row.item.project_call_report.short_job_address : 'n/a'}}
                        </template>
                        <template slot="assigned" slot-scope="row">
                            {{ row.item.assignee ? row.item.assignee.name : 'n/a' }}
                        </template>
                        <template slot="status" slot-scope="row">
                            {{ row.item.status_info ? row.item.status_info.name: 'n/a' }}
                        </template>
                        <template slot="createdAt" slot-scope="row">
                            {{ $moment(row.item.project_call_report.date_contacted).format('MM/DD/YYYY') }}
                        </template>
                        <template slot="actions" slot-scope="row">
                            <div v-if="row.item.status === 3">
                                <button class="btn btn-xs btn-info" @click='restoreProject(row.item.id)'>
                                    <i class="fa fa-undo"></i> Restore
                                </button>
                            </div>
                            <div v-else>
                                <button class="btn btn-xs btn-default" @click='editProject(row.item.id)'>
                                    <i class="fa fa-pencil"></i> Edit
                                </button>
                                <button class="btn btn-xs btn-danger" @click='removeProject(row.item.id)'>
                                    <i class="fa fa-trash"></i> Remove
                                </button>
                            </div>
                        </template>
                    </b-table>
                    <div class="justify-content-center row-margin-tweak row">
                        <b-pagination v-if="!isBusy" :total-rows="count" :per-page="perPage"
                                      limit="5" v-model="currentPage" @input="loadProjects(currentPage)"/>
                        <div v-else>...</div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </b-container>
    </div>
</template>

<script type="text/babel">
    import {mapGetters} from 'vuex'
    import Loader from '../layout/Loader'
    import DataProcessMixin from '../../mixins/data-process'
    import apiProjects from '../../api/projects'
    import apiProjectStatus from '../../api/project_status'
    import apiTeams from '../../api/teams'
    import ErrorHandler from '../../mixins/error-handler'
    import DeleteModal from './modals/Remove'
    import _ from 'lodash'
    import UnsetEquipmentModal from '../forms/modals/UnsetEqupment'

    export default {
        mixins: [ErrorHandler, DataProcessMixin],
        components: {Loader, DeleteModal, UnsetEquipmentModal},
        data() {
            return {
                selectedYear: null,
                selectedStatus: null,
                selectedTeam: null,
                companyLogo: require('../../assets/fallback-logo.jpg'),
                years: [],
                statuses: [],
                teams: [],
                fields: {
                    insured: {
                        label: 'Owner/Insured',
                        sortable: false,
                        'class': 'text-center'
                    },
                    address: {
                        label: 'Address',
                        sortable: false,
                        'class': 'text-center'
                    },
                    phone: {
                        label: 'Phone',
                        sortable: false,
                        'class': 'text-center'
                    },
                    assigned: {
                        label: 'Assigned To',
                        sortable: false,
                        'class': 'text-center'
                    },
                    status: {
                        label: 'Status',
                        sortable: false,
                        'class': 'text-center'
                    },
                    createdAt: {
                        label: 'Created',
                        sortable: false,
                        'class': 'text-center'
                    },
                    actions: {
                        label: 'Action',
                        sortable: false,
                        'class': 'text-center'
                    }
                },
                filter: '',
                isBusy: false,
                currentPage: 1,
                perPage: 15,
                count: 0,
                projects: []
            }
        },
        created() {
            this.$nextTick(() => {
                this.initData()
            })
            this.$on('reloadData', () => {
                this.loadProjects(this.currentPage)
            })
        },
        methods: {
            initData() {
                this.run()
                this.years = [
                    {
                        value: null,
                        text: 'All'
                    }
                ]
                for (let year = new Date().getFullYear(); year >= 2015; year--) {
                    this.years.push({
                        value: year,
                        text: year
                    })
                }
                const apis = [
                    apiProjects.index({
                        per_page: this.perPage
                    }),
                    apiProjectStatus.index(),
                    apiTeams.index()
                ]
                Promise.all(apis)
                    .then(response => {
                        this.projects = response[0].data.data || []
                        this.count = response[0].data.total
                        let statuses = response[1].data.statuses
                        this.teams = _.concat({id: null, name: '-- Filter by Team --'}, response[2].data.data)
                        this.statuses = [{
                            text: '-- Filter by Status --',
                            value: null
                        }]
                        statuses.forEach(status => {
                            this.statuses.push({
                                text: status.name,
                                value: status.id
                            })
                        })
                        this.$emit('data-ready')
                    }).catch(response => {
                    this.$emit('data-failed')
                    this.handleErrorResponse(response)
                })
            },
            loadProjects(currentPage) {
                this.currentPage = currentPage
                this.isBusy = true
                let data = {
                    page: this.currentPage,
                    filter: this.$refs.projectTable.filter,
                    per_page: this.perPage,
                    status: this.selectedStatus,
                    year: this.selectedYear,
                    assigned_to: this.selectedTeam
                }
                apiProjects.index(data)
                    .then(response => {
                        this.count = response.data.total
                        this.projects = response.data.data
                        this.isBusy = false
                    }).catch(response => {
                    this.isBusy = false
                    this.handleErrorResponse(response)
                })
            },
            editProject(projectId) {
                this.$router.push({
                    name: 'Form Call Report',
                    params: {
                        project_id: projectId,
                        form_id: 1
                    }
                })
            },
            removeProject(projectId) {
                this.$emit('openRemoveModal', {
                    id: projectId
                })
            },
            restoreProject(projectId) {
                apiProjects.restore({
                    project_id: projectId
                }).then(response => {
                    this.loadProjects(this.currentPage)
                })
            }
        },
        computed: {
            ...mapGetters([
                'company',
                'user'
            ])
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    .logo-preview img {
        max-width: 100%;
        height: auto;
        max-height: 100px;
    }
</style>
