<template>
    <div class="card mb-3">
        <div class="card-body text-center">
            <loader :is-running="isRunning"></loader>

            <review-request-modal></review-request-modal>
            <unset-equipment-modal type="completed"></unset-equipment-modal>

            <form-header></form-header>
            <h4 class="mb-2">{{ title }}</h4>
            <div class="dropdown-divider"></div>
            <b-row>
                <b-col class="text-left">
                    <b-row>
                        <b-col class="text-center"><h5>Job Site</h5></b-col>
                    </b-row>
                    <b-row>
                        <b-col class="col-md-6">
                            <b-form-checkbox v-model="callReport.is_residential" :value="1" :unchecked-value='0'>Residential
                            </b-form-checkbox>
                        </b-col>
                        <b-col class="col-md-6">
                            <b-form-checkbox v-model="callReport.is_commercial" :value="1" :unchecked-value='0'>Commercial
                            </b-form-checkbox>
                        </b-col>
                        <b-col class="col-md-6">
                            <b-form-checkbox v-model="callReport.is_insured" :value="1" :unchecked-value='0'>Owner/Insured
                            </b-form-checkbox>
                        </b-col>
                        <b-col class="col-md-6">
                            <b-form-checkbox v-model="callReport.is_tenant" :value="1" :unchecked-value='0'>Tenant
                            </b-form-checkbox>
                        </b-col>
                    </b-row>

                    <div>
                        <label>Contact Name:</label>
                        <input class="form-control" v-model="callReport.contact_name">
                    </div>
                    <div>
                        <label>Contact Phone:</label>
                        <masked-input class="form-control" v-model="callReport.contact_phone"
                                      mask="(111) 111-1111" placeholder="(702) 555-1212"/>
                    </div>
                    <div>
                        <label>Site Phone:</label>
                        <masked-input class="form-control" v-model="callReport.site_phone"
                                      mask="(111) 111-1111" placeholder="(702) 555-1212"/>
                    </div>
                    <div class="date-wrapper">
                        <label>Date Contacted:</label>
                        <masked-input class="form-control" v-model="callReport.date_contacted"
                                      mask="11/11/1111" placeholder="MM/DD/YYYY"/>
                    </div>
                    <div class="date-wrapper">
                        <label>Date of Loss:</label>
                        <masked-input class="form-control" v-model="callReport.date_loss"
                                      mask="11/11/1111" placeholder="MM/DD/YYYY"/>
                    </div>
                    <div>
                        <label>Point of Loss:</label>
                        <input class="form-control" v-model="callReport.point_loss">
                    </div>
                    <div class="date-wrapper">
                        <label>Date Completed:</label>
                        <masked-input class="form-control" v-model="callReport.date_completed" @input="saveWithDelay()"
                                      mask="11/11/1111" placeholder="MM/DD/YYYY"/>
                    </div>

                    <b-row class="mt-2">
                        <b-col class="col-md-6">
                            <b-form-checkbox v-model="callReport.is_water" :value="1" :unchecked-value='0'>Water
                            </b-form-checkbox>
                        </b-col>
                        <b-col class="col-md-6">
                            <b-form-checkbox v-model="callReport.is_sewage" :value="1" :unchecked-value='0'>Sewage
                            </b-form-checkbox>
                        </b-col>
                        <b-col class="col-md-6">
                            <b-form-checkbox v-model="callReport.is_mold" :value="1" :unchecked-value='0'>Mold
                            </b-form-checkbox>
                        </b-col>
                        <b-col class="col-md-6">
                            <b-form-checkbox v-model="callReport.is_fire" :value="1" :unchecked-value='0'>Fire
                            </b-form-checkbox>
                        </b-col>
                    </b-row>

                    <div>
                        <label>Category:</label>
                        <input class="form-control" v-model="callReport.category">
                    </div>
                    <div>
                        <label>Class:</label>
                        <input class="form-control" v-model="callReport.class">
                    </div>
                    <div>
                        <label>Job Address:</label>
                        <input class="form-control" v-model="callReport.job_address">
                    </div>
                    <div>
                        <label>City:</label>
                        <input class="form-control" v-model="callReport.city">
                    </div>
                    <div>
                        <label>State:</label>
                        <select class="form-control" v-model="callReport.state">
                            <option :value="null">-- Please select --</option>
                            <option v-for="state in states" :key="state.value" :value="state.value">
                                {{ state.text }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label>Zip Code:</label>
                        <input class="form-control" v-model="callReport.zip_code">
                    </div>
                    <div>
                        <label>Cross Streets:</label>
                        <input class="form-control" v-model="callReport.cross_streets">
                    </div>
                    <div>
                        <label>Apartment Name:</label>
                        <input class="form-control" v-model="callReport.apartment_name">
                    </div>
                    <div>
                        <label>Building #:</label>
                        <input class="form-control" v-model="callReport.building_no">
                    </div>
                    <div>
                        <label>Unit #:</label>
                        <input class="form-control" v-model="callReport.apartment_no">
                    </div>
                    <div>
                        <label>Gate Code:</label>
                        <input class="form-control" v-model="callReport.gate_code">
                    </div>
                    <div>
                        <label> Assigned to: </label>
                        <select class="form-control" v-model="callReport.assigned_to">
                            <option :value="null">-- Please select --</option>
                            <option v-for="item in teams" v-bind:key="item.id" :value="item.id">
                                {{ item.name }}
                            </option>
                        </select>
                    </div>
                </b-col>

                <b-col class="text-left">
                    <b-row>
                        <b-col class="text-center"><h5>Owner/Insured Information</h5></b-col>
                    </b-row>

                    <div>
                        <label>Owner/Insured Name:</label>
                        <b-form-checkbox @change="save()" v-model="sameContactName">Same as contact name</b-form-checkbox>
                        <input class="form-control" v-model="callReport.insured_name">
                    </div>
                    <div>
                        <label>Billing Address:</label>
                        <b-form-checkbox @change="save()" v-model="sameJobAddress">Same as job address</b-form-checkbox>
                        <input class="form-control" v-model="callReport.billing_address">
                    </div>
                    <div>
                        <label>City:</label>
                        <input class="form-control" v-model="callReport.insured_city">
                    </div>
                    <div>
                        <label>State:</label>
                        <select class="form-control" v-model="callReport.insured_state">
                            <option :value="null">-- Please select --</option>
                            <option v-for="state in states" :key="state.value" :value="state.value">
                                {{ state.text }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label>Zip Code:</label>
                        <input class="form-control" v-model="callReport.insured_zip_code">
                    </div>
                    <div>
                        <label>Home Phone:</label>
                        <masked-input class="form-control" v-model="callReport.insured_home_phone"
                                      mask="(111) 111-1111" placeholder="(702) 555-1212"/>
                    </div>
                    <div>
                        <label>Cell Phone:</label>
                        <masked-input class="form-control" v-model="callReport.insured_cell_phone"
                                      mask="(111) 111-1111" placeholder="(702) 555-1212"/>
                    </div>
                    <div>
                        <label>Work Phone:</label>
                        <masked-input class="form-control" v-model="callReport.insured_work_phone"
                                      mask="(111) 111-1111" placeholder="(702) 555-1212"/>
                    </div>
                    <div>
                        <label>Email:</label>
                        <input class="form-control" v-model="callReport.insured_email">
                    </div>
                    <div>
                        <label>Fax:</label>
                        <masked-input class="form-control" v-model="callReport.insured_fax"
                                      mask="(111) 111-1111" placeholder="(702) 555-1212"/>
                    </div>

                    <b-row class="mt-2">
                        <b-col class="text-center"><h5>Insurance Information</h5></b-col>
                    </b-row>

                    <div>
                        <label>Claim #:</label>
                        <input class="form-control" v-model="callReport.insurance_claim_no">
                    </div>
                    <div>
                        <label>Insurance Company:</label>
                        <input class="form-control" v-model="callReport.insurance_company">
                    </div>
                    <div>
                        <label>Policy #:</label>
                        <input class="form-control" v-model="callReport.insurance_policy_no">
                    </div>
                    <div>
                        <label>Deductible:</label>
                        <input class="form-control" v-model="callReport.insurance_deductible">
                    </div>
                    <div>
                        <label>Insurance Adjuster:</label>
                        <input class="form-control" v-model="callReport.insurance_adjuster">
                    </div>
                    <div>
                        <label>Address:</label>
                        <input class="form-control" v-model="callReport.insurance_address">
                    </div>
                    <div>
                        <label>City:</label>
                        <input class="form-control" v-model="callReport.insurance_city">
                    </div>
                    <div>
                        <label>State:</label>
                        <select class="form-control" v-model="callReport.insurance_state">
                            <option :value="null">-- Please select --</option>
                            <option v-for="state in states" :key="state.value" :value="state.value">
                                {{ state.text }}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label>Zip Code:</label>
                        <input class="form-control" v-model="callReport.insurance_zip_code">
                    </div>
                    <div>
                        <label>Work Phone:</label>
                        <masked-input class="form-control" v-model="callReport.insurance_work_phone"
                                      mask="(111) 111-1111" placeholder="(702) 555-1212"/>
                    </div>
                    <div>
                        <label>Cell Phone:</label>
                        <masked-input class="form-control" v-model="callReport.insurance_cell_phone"
                                      mask="(111) 111-1111" placeholder="(702) 555-1212"/>
                    </div>
                    <div>
                        <label>Email:</label>
                        <input class="form-control" v-model="callReport.insurance_email">
                    </div>
                    <div>
                        <label>Fax:</label>
                        <masked-input class="form-control" v-model="callReport.insurance_fax"
                                      mask="(111) 111-1111" placeholder="(702) 555-1213"/>
                    </div>

                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script type="text/babel">
    import {mapGetters, mapActions} from 'vuex'
    import FormHeader from './FormHeader'
    import Notes from './Notes'
    import ErrorHandler from '../../mixins/error-handler'
    import apiProjectCallReports from '../../api/project_call_reports'
    import apiTeams from '../../api/teams'

    import Loader from '../layout/Loader'
    import DataProcessMixin from '../../mixins/data-process'

    import MaskedInput from 'vue-masked-input'
    import Datepicker from 'vuejs-datepicker'
    import _ from 'lodash'
    import moment from 'moment'
    import ReviewRequestModal from './modals/ReviewRequest'
    import UnsetEquipmentModal from './modals/UnsetEqupment'

    export default {
        mixins: [ErrorHandler, DataProcessMixin],
        components: {
            UnsetEquipmentModal,
            ReviewRequestModal,
            FormHeader,
            Notes,
            MaskedInput,
            Datepicker,
            Loader
        },
        props: ['title'],
        data() {
            return {
                projectId: null,
                formId: null,
                callReport: {
                    id: null,
                    company_id: null,
                    project_id: null,
                    contact_name: null,
                    contact_phone: null,
                    site_phone: null,
                    date_contacted: null,
                    time_contacted: null,
                    date_loss: null,
                    point_loss: null,
                    date_completed: null,
                    category: null,
                    class: null,
                    job_address: null,
                    city: null,
                    state: null,
                    zip_code: null,
                    cross_streets: null,
                    apartment_name: null,
                    building_no: null,
                    apartment_no: null,
                    gate_code: null,
                    assigned_to: null,
                    is_residential: null,
                    is_commercial: null,
                    is_insured: null,
                    is_tenant: null,
                    is_water: null,
                    is_sewage: null,
                    is_mold: null,
                    is_fire: null,
                    insured_name: null,
                    billing_address: null,
                    insured_city: null,
                    insured_state: null,
                    insured_zip_code: null,
                    insured_home_phone: null,
                    insured_cell_phone: null,
                    insured_work_phone: null,
                    insured_email: null,
                    insured_fax: null,
                    insurance_claim_no: null,
                    insurance_company: null,
                    insurance_policy_no: null,
                    insurance_deductible: null,
                    insurance_adjuster: null,
                    insurance_address: null,
                    insurance_city: null,
                    insurance_state: null,
                    insurance_zip_code: null,
                    insurance_work_phone: null,
                    insurance_cell_phone: null,
                    insurance_email: null,
                    insurance_fax: null
                },
                assignee: null,
                project: null,
                teams: [],
                isLoaded: false,
                states: null,
                customerTypes: [
                    {text: 'Residential', value: 'is_residential'},
                    {text: 'Commercial', value: 'is_commercial'},
                    {text: 'Owner/Insured', value: 'is_insured'},
                    {text: 'Tenant', value: 'is_tenant'}
                ],
                customerTypesMatch: {
                    isResidential: 'is_residential',
                    isCommercial: 'is_commercial',
                    isInsured: 'is_insured',
                    isTenant: 'is_tenant'
                },
                selectedCustomerType: [],
                sameJobAddress: false,
                sameContactName: false,
                timeConfig: {
                    format: 'hh:mm:ss',
                    useCurrent: false,
                    showClear: true,
                    showClose: true,
                    keepOpen: true,
                    debug: true
                },
                dateConfig: {
                    format: 'YYYY/MM/D ',
                    useCurrent: false,
                    showClear: true,
                    showClose: true,
                    keepOpen: true
                }
            }
        },
        created() {
            window.addEventListener('beforeunload', () => {
                this.save(this.callReport)
            })
            this.projectId = this.$route.params.project_id
            this.formId = this.$route.params.form_id
            let jsonStates = this.$config.get('states')
            this.states = Object.keys(jsonStates).map(function (key) {
                return {
                    value: key,
                    text: jsonStates[key]
                }
            })
            this.init()
        },
        methods: {
            ...mapActions([
                'setCompanyDetails'
            ]),
            init() {
                this.run()
                const apis = [
                    apiProjectCallReports.index(this.projectId, {}),
                    apiTeams.index()
                ]
                Promise.all(apis).then(response => {
                    this.teams = response[1].data.data
                    this.callReport = response[0].data.call_report
                    this.setCompanyDetails(response[0].data.project.company_details)
                    this.$emit('data-ready')
                    this.loaded = true
                })
            },
            saveWithDelay: _.debounce(function () {
                this.save(this.callReport)
            }, 800),
            save(callReport) {
                this.run()
                if (!callReport || !callReport.project_id) {
                    this.$emit('data-ready')
                    return
                }

                return apiProjectCallReports.update(callReport.id, callReport).then(response => {
                    this.callReport = response.data.call_report
                    if (response.data.date_completed_added) {
                        this.$emit('openReviewRequestModal', {id: this.projectId})
                    }
                    if (response.data.has_set_equipment) {
                        this.$emit('openUnsetEquipmentModal', {id: this.projectId})
                    }
                    this.$emit('data-ready')
                }).catch(response => {
                    this.$emit('data-failed')
                    this.handleErrorResponse(response)
                })
            },
            changeDate(model, param) {
                this.callReport[param] = moment(model).utc().format('YYYY-MM-DD')
                this.save(this.callReport)
                    .then(() => {
                        console.log(1)
                    })
            },
            customFormatter(date) {
                return moment(date).utc().format('YYYY-MM-DD')
            }
        },
        watch: {
            sameJobAddress () {
                if (this.sameJobAddress) {
                    this.callReport.billing_address = this.callReport.job_address
                    this.callReport.insured_city = this.callReport.city
                    this.callReport.insured_state = this.callReport.state
                    this.callReport.insured_zip_code = this.callReport.zip_code
                } else {
                    this.callReport.billing_address = null
                    this.callReport.insured_city = null
                    this.callReport.insured_state = null
                    this.callReport.insured_zip_code = null
                }
                this.save(this.callReport)
            },
            sameContactName() {
                this.callReport.insured_name = this.sameContactName ? this.callReport.contact_name : null
                this.save(this.callReport)
            }
        },
        computed: {
            ...mapGetters([
               'company'
            ])
        },
        beforeRouteLeave (to, from, next) {
            this.save(this.callReport)
                .then(() => {
                    next()
                })
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    .date-wrapper {
        .vdp-datepicker {
            width: 100% !important;
            margin-left: 0 !important;
            .input-group {
                input {
                    background-color: white;
                }
            }
        }
    }
</style>
