<template>
    <div class="card" style="min-height: 100vh;">
        <loader :is-running="isRunning"></loader>

        <div class="card-body">
            <div>
                <div class="m-3" id="statementContentContainer" v-html="statement"></div>
                <notes class="mt-3" :show-additional-notes="form.additional_notes_show" :disabled="lockSignature"></notes>
                <hr>
            </div>
            <signature class="mt-3" v-show="hasSignatures" :form="form"></signature>
        </div>

        <b-modal ref="initialsModalRef" size="md" title="Initials" @ok="saveInitials">
            <vueSignature ref="initialsCanvas" id="initialsCanvas" :w="'300px'" :h="'150px'" :sigOption="signatureOptions"
                          class="signature m-auto"></vueSignature>
        </b-modal>
    </div>
</template>

<script type="text/babel">
    import FormHeader from './FormHeader'
    import FormBanner from './FormBanner'
    import Notes from './Notes'
    import FooterText from './FooterText'
    import Signature from './Signature'
    import Statement from './Statement'
    import ErrorHandler from '../../mixins/error-handler'
    import apiProjectForms from '../../api/project_forms'
    import Loader from '../layout/Loader'
    import DataProcessMixin from '../../mixins/data-process'
    import apiProjectStatement from '../../api/project_statements'
    import $ from 'jquery'
    import _ from 'lodash'

    export default {
        mixins: [ErrorHandler, DataProcessMixin],
        name: 'project custom',
        components: {
            FormHeader,
            FormBanner,
            Notes,
            FooterText,
            Signature,
            Statement,
            Loader
        },
        data() {
            return {
                form: {},
                form_id: null,
                form_title: null,
                statement: '',
                companyLogo: require('../../assets/fallback-logo.jpg'),
                signatureOptions: {
                    penColor: 'rgb(255, 0, 0)'
                },
                target: null,
                hasSignatures: false,
                lockSignature: false,
                initiated: false
            }
        },
        created() {
            this.$on('lock-signature', () => {
                this.lockSignature = true
            })
            this.$on('unlock-signature', () => {
                this.lockSignature = false
            })
            this.$nextTick(() => {
                this.init()
            })
        },
        mounted() {
            let vm = this
            //@todo move to other file
            $(document).ready(function () {
                $(document).unbind('click')
                $(document).bind('click', function (e) {
                    let dataId = $(e.target).attr('data-id')
                    if (dataId === 'accept' || dataId === 'decline') {
                        let currentClass = $(e.target).attr('class')
                        let targetClass = currentClass === 'fa fa-square-o' ? 'fa fa-check-square-o' : 'fa fa-square-o'
                        $(e.target).attr('class', targetClass)
                    }

                    if (dataId === 'yes' || dataId === 'no') {
                        let currentClass = $(e.target).attr('class')
                        let targetClass = currentClass === 'fa fa-square-o' ? 'fa fa-check-square-o' : 'fa fa-square-o'
                        $(e.target).attr('class', targetClass)

                        if (dataId === 'yes' && targetClass === 'fa fa-check-square-o') {
                            $(e.target).closest('div').find('[data-id="no"]').attr('class', 'fa fa-square-o')
                        }

                        if (dataId === 'no' && targetClass === 'fa fa-check-square-o') {
                            $(e.target).closest('div').find('[data-id="yes"]').attr('class', 'fa fa-square-o')
                        }
                    }

                    if (dataId === 'initials') {
                        vm.showInitialsModal(e.target)
                    }
                    vm.save()
                })
            })
        },
        methods: {
            init() {
                this.run()
                apiProjectForms.show(this.$route.params.project_id, {
                    id: this.$route.params.form_id
                }).then(response => {
                    this.form = response.data.form
                    this.parseStatement()
                    this.$emit('data-ready')
                }).catch(response => {
                    this.$emit('data-failed')
                    this.handleErrorResponse(response)
                })
            },
            parseStatement() {
                this.statement = this.form.statements[0].statement
                this.statement = this.statement.replace('<div id="header-placeholder" style="text-align: center; border: 1px dotted black; height: 120px;"><br><strong>Header content will be placed here automatically</strong></div>', this.buildHeader())
                let signatures = '<div id="signatures-placeholder" style="text-align: center; border: 1px dotted black; height: 120px;"><br><strong>Signatures will be placed here automatically</strong></div>'
                let signatures2 = '<div id="signatures-placeholder" style="text-align: center; border: 1px dotted black; height: 120px; display: block;"><br><strong>Signatures will be placed here automatically</strong></div>'
                let replacedSignatures = '<div id="signatures-placeholder" style="text-align: center; border: 1px dotted black; height: 120px; display: none;"><br><strong>Signatures will be placed here automatically</strong></div>'
                this.statement = this.statement.replace(signatures, replacedSignatures)
                this.statement = this.statement.replace(signatures2, replacedSignatures)
                if (this.statement.indexOf(replacedSignatures) !== -1) {
                    this.hasSignatures = true
                }
            },
            showInitialsModal(target) {
                this.target = target
                this.$refs.initialsModalRef.show()
                let canvasEle = this.$refs.initialsCanvas.$el.getElementsByTagName('canvas')
                canvasEle[0].setAttribute('width', '300')
                canvasEle[0].setAttribute('height', '150')
            },
            saveInitials() {
                let png = this.$refs.initialsCanvas.save()
                if (this.target) {
                    if ($(this.target).prop('tagName') === 'IMG') {
                        $(this.target).parent().html('<img data-id="initials" src="' + png + '">')
                    } else {
                        $(this.target).html('<img data-id="initials" src="' + png + '">')
                    }
                }
                this.save()
            },
            buildHeader() {
                let header = ''

                if (!this.form.project.company_details) {
                    return header
                }

                let ownerName = this.form.project.project_call_report && this.form.project.project_call_report.insured_name ? this.form.project.project_call_report.insured_name : ''
                let jobAddress = this.form.project.project_call_report ? this.form.project.project_call_report.full_job_address : ''

                header += '<div id="header-placeholder" class="row"><div class="text-left col-8 logo-preview">'
                header += this.form.project.company_details && this.form.project.company_details.logo ? '<img src="' + this.form.project.company_details.public_logo_path + '" alt="Company Logo" height="90">' : '<img src="' + this.companyLogo + '" alt="Company Logo" height="90">'
                header += '</div><div class="text-right col-4">'
                header += this.form.project.company_details.name ? '<p class="m-0">' + this.form.project.company_details.name + '</p>' : '<p class="m-0">2</p>'
                header += this.form.project.company_details.street ? '<p class="m-0">' + this.form.project.company_details.street + '</p>' : '<p class="m-0"></p>'
                header += this.form.project.company_details.city ? '<p class="m-0">' + this.form.project.company_details.city + ' ' + this.form.project.company_details.state + ' ' + this.form.project.company_details.zip + '</p>' : '<p class="m-0"></p>'
                header += this.form.project.company_details.phone ? '<p class="m-0">' + this.form.project.company_details.phone + '</p>' : '<p class="m-0"></p>'
                header += this.form.project.company_details.email ? '<p class="m-0">' + this.form.project.company_details.email + '</p>' : '<p class="m-0"></p>'
                header += '</div></div><h4 style="text-align: center;">' + this.form.title + '</h4></h4><hr>'
                header += '<div class="row"><div class="col-8"><p>Owner/Insured: ' + ownerName + '</p><p>Job Address: ' + jobAddress + '</p></div><div class="col-4 text-right"><p>Claim # '
                    + (this.form.project.project_call_report.insurance_claim_no ? this.form.project.project_call_report.insurance_claim_no : '')
                    + '</p></div></div><hr>'

                return header
            },
            save() {
                this.statement = $('#statementContentContainer').html()
                // $('#signatures-placeholder').css('display', 'block')
                if (this.statement) {
                    let statement = _.cloneDeep(this.statement)
                    let pattern = /<div id="header-placeholder".*<\/p><\/div><\/div><hr>/g;
                    statement = statement.replace(pattern, '<div id="header-placeholder" style="text-align: center; border: 1px dotted black; height: 120px;"><br><strong>Header content will be placed here automatically</strong></div>')
                    let signatures = '<div id="signatures-placeholder" style="text-align: center; border: 1px dotted black; height: 120px;"><br><strong>Signatures will be placed here automatically</strong></div>'
                    let replacedSignatures = '<div id="signatures-placeholder" style="text-align: center; border: 1px dotted black; height: 120px; display: none;"><br><strong>Signatures will be placed here automatically</strong></div>'
                    statement = statement.replace(replacedSignatures, signatures)
                    apiProjectStatement.update(this.form.statements[0].id, {
                        company_id: this.form.company_id,
                        form_id: this.form.form_id,
                        id: this.form.statements[0].id,
                        project_id: this.form.project_id,
                        statement: statement
                    })
                        .then(response => {
                            $('#signatures-placeholder').css('display', 'none')
                        }).catch(response => {
                        this.handleErrorResponse(response)
                    })
                }

            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    [data-id="initials"] {
        cursor: pointer;
        img {
            height: 40px;
            border-bottom: 1px solid black;
        }
    }
</style>
