<template>
    <b-modal id="selectForm" title="Add inspection dates for this project" v-model="showModal" v-if="isLoaded">
        <div>
            <!--<label>Pick Date: </label>-->
            <!--<date-picker ref="rangePicker" format="YYYY-MM-DD" v-model="date_range" lang="en" range :shortcuts="shortcuts" :disabled-days="disabledDates" confirm type="date"></date-picker>-->

            <div class="datepicker-trigger">
                <label>Pick Date: </label>
                <div class="form-group">
                    <input type="text" class="mx-input form-control input-sm" id="datepicker-trigger" placeholder="Select Date Range"
                           :value="formatDates(dateOne, dateTwo)">
                </div>
                <i class="fa fa-2x fa-calendar" @click="openDatepicker"></i>

                <AirbnbStyleDatepicker
                        :trigger-element-id="'datepicker-trigger'"
                        :trigger="showDatepicker"
                        :mode="'range'"
                        :fullscreen-mobile="true"
                        :date-one="dateOne"
                        :date-two="dateTwo"
                        :disabled-dates="disabledDates"
                        @date-one-selected="val => { dateOne = val }"
                        @date-two-selected="val => { dateTwo = val }"
                        @cancelled="closeDatepicker"
                        :months-to-show="1"
                />
            </div>
        </div>
        <div v-for="area in projectAreas">
            <b-form-checkbox v-model="selectedAreas[area.id]" :value='area.id' :unchecked-value='null'>
                {{ area.title }}
            </b-form-checkbox>
        </div>
        <div slot="modal-footer" class="w-100">
            <b-btn class="float-right" variant="secondary" @click="showModal=false">
                Close
            </b-btn>
            <b-btn class="float-right mr-2" variant="primary" @click="save()">
                Ok
            </b-btn>
        </div>
    </b-modal>
    <loading v-else></loading>
</template>

<script type="text/babel">
    import Loading from '../layout/Loading'
    import apiProjectAreas from '../../api/project_areas'
    import apiProjectMoistureForm from '../../api/project_moisture_form'
    import apiProjectPsychometricDays from '../../api/project_psychometric_days'
    import ErrorHandler from '../../mixins/error-handler'
    import DatePicker from 'vue2-datepicker'
    import _ from 'lodash'
    import format from 'date-fns/format'

    export default {
        mixins: [ErrorHandler],
        components: {
            Loading,
            DatePicker
        },
        data() {
            return {
                showModal: true,
                showDatepicker: false,
                projectAreas: [],
                selectedAreas: [],
                projectId: null,
                prevformId: null,
                isLoaded: false,
                shortcuts: [
                    {
                        text: 'Today',
                        start: this.$moment.now(),
                        end: this.$moment.now()
                    }
                ],
                date_range: null,
                disabledDates: [],
                dateFormat: 'D MMM',
                dateOne: '',
                dateTwo: ''
            }
        },
        created() {
            this.init()
        },
        methods: {
            init() {
                this.projectId = parseInt(this.$route.params.project_id)
                this.prevformId = parseInt(this.$route.params.prev_id)
                this.getDisabledDates()
                apiProjectAreas.index({
                    project_id: this.projectId
                }).then(res => {
                    let projectAreas = res.data.project_areas
                    projectAreas.forEach(projectArea => {
                        projectArea.title = projectArea.standard_area.title
                        this.selectedAreas[projectArea.id] = projectArea.id
                    })
                    this.projectAreas = projectAreas
                    this.isLoaded = true
                }).catch(this.handleErrorResponse)
            },
            save() {
                let areas = _.filter(this.selectedAreas, function(area) { return area })
                if (this.prevformId === 7) {
                    apiProjectMoistureForm.addDates({
                        selected_areas: areas,
                        date_from: this.dateOne,
                        date_to: this.dateTwo,
                        project_id: this.projectId
                    }).then(res => {
                        this.showModal = false
                    }).catch(this.handleErrorResponse)
                } else if (this.prevformId === 8) {
                    apiProjectPsychometricDays.store({
                        selected_areas: areas,
                        date_from: this.dateOne,
                        date_to: this.dateTwo
                    }).then(res => {
                        this.showModal = false
                    }).catch(this.handleErrorResponse)
                }
            },
            getDisabledDates() {
                if (this.prevformId === 7) {
                    apiProjectMoistureForm.show(this.projectId).then(response => {
                        response.data.moisture_form.days.forEach(day => {
                            this.disabledDates.push(day.date)
                        })
                    }).catch(this.handleErrorResponse)
                } else if (this.prevformId === 8) {
                    apiProjectPsychometricDays.show(this.projectId).then(response => {
                        let dates = _.keys(response.data.measurements)
                        dates.forEach(day => {
                            this.disabledDates.push(day)
                        })
                    })
                        .catch(this.handleErrorResponse)
                }
            },
            openDatepicker() {
                this.showDatepicker = true
            },
            closeDatepicker() {
                this.showDatepicker = false
            },
            formatDates(dateOne, dateTwo) {
                let formattedDates = ''
                if (dateOne) {
                    formattedDates = format(dateOne, this.dateFormat)
                }
                if (dateTwo) {
                    formattedDates += ' - ' + format(dateTwo, this.dateFormat)
                }
                return formattedDates
            }
        },
        watch: {
            showModal: function () {
                if (this.showModal) {
                    this.init()
                }
                if (!this.showModal) this.$router.go(-1)
            }
        }
    }
</script>
<style type="text/css" lang="scss" rel="stylesheet/scss">
    @import 'vue-airbnb-style-datepicker/dist/styles.css';
</style>
<style type="text/css" lang="scss" rel="stylesheet/scss">
    /*@import "vue-airbnb-style-datepicker/dist/vue-airbnb-style-datepicker.min.css";*/

    .mx-datepicker-popup div.mx-calendar::before {
        content: "Start Date";
        position: relative;
        top: 2px;
        font-weight: 600;
        left: 79px;
    }

    .mx-datepicker-popup div.mx-calendar ~ div.mx-calendar::before {
        content: "End Date";
    }

    #datepicker-trigger {
        height: 2em;
        margin-left: 5px;
        margin-right: 5px;
    }

    .datepicker-trigger {
        display: inline-flex;
        label {
            line-height: 2em;
        }
        label, i {
            display: inline;
        }
        i {
            margin-left: 10px;
        }
    }

    .asd__day--disabled {
        background-color: cornflowerblue !important;
        button {
            color: black;
        }
    }
</style>
