<template>
    <b-modal id="selectEquipment" class="selectEquipment" title="Select Forms for this project" v-model="showModal"
             v-if="isLoaded">
        <div v-for="form in availableForms" :key="form.form_id" v-if="form.form_id !== 1 && form.form_id !== 12">
            <b-form-checkbox v-model="selectedForms[form.form_id]" value=1 unchecked-value=0>
                {{ form.name }}
            </b-form-checkbox>
        </div>
        <div slot="modal-footer" class="w-100">
            <b-btn variant="primary" class="float-right" @click="saveForm()">Save</b-btn>
        </div>
    </b-modal>
    <loading v-else></loading>
</template>

<script type="text/babel">
    import {mapActions, mapGetters} from 'vuex'
    import Loading from '../layout/Loading'
    import apiProjectForms from '../../api/project_forms'
    import apiStandardForms from '../../api/standard_form'
    import ErrorHandler from '../../mixins/error-handler'
    import _ from 'lodash'

    export default {
        mixins: [ErrorHandler],
        components: {
            Loading
        },
        data() {
            return {
                showModal: true,
                selectedForms: [],
                projectId: null,
                initiated: false,
                availableForms: [],
                standardForms: []
            }
        },
        created() {
            this.projectId = parseInt(this.$route.params.project_id)
            this.$nextTick(() => {
                this.init()
            })
        },
        methods: {
            ...mapActions([
                'fetchFormsOrder',
                'fetchProjectForm',
                'fetchProjectForms'
            ]),
            init() {
                apiStandardForms.index()
                    .then(response => {
                        this.availableForms = this.forms
                        response.data.forEach(standardForm => {
                            if (_.findIndex(this.forms, {'form_id': standardForm.form_id}) === -1) {
                                this.availableForms.push(standardForm)
                            }
                        })
                    })
            },
            saveForm() {
                let isSel = false
                let projectForms = [{
                    form_id: 1
                }]
                for (let formID in this.selectedForms) {
                    if (formID !== '1' && this.selectedForms[formID] === '1') {
                        projectForms.push({
                            form_id: parseInt(formID)
                        })
                        isSel = true
                    }
                }

                if (!isSel) {
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        text: 'Please select forms'
                    })
                    return
                }

                apiProjectForms.patch(this.projectId, {
                    project_forms: projectForms,
                    project_id: this.projectId
                }).then((res) => {
                    this.$router.push({
                        name: 'Form Call Report',
                        params: {
                            project_id: this.projectId,
                            form_id: 1
                        }
                    })
                })
            }
        },
        computed: {
            ...mapGetters([
                'forms'
            ]),
            projectForms() {
                return this.$store.state.ProjectForm.projectForms
            },
            isLoaded() {
                if (this.forms.length && this.projectForms.length) {
                    if (!this.initiated) {
                        this.selectedForms = []
                        this.projectForms.forEach(projectForm => {
                            this.selectedForms[projectForm.form_id] = '1'
                        })
                        this.initiated = true
                    }
                    return true
                } else return true
            }
        },
        watch: {
            showModal: function () {
                if (!this.showModal) {
                    this.$router.push({
                        name: 'Form Call Report',
                        params: {
                            project_id: this.projectId,
                            form_id: 1
                        }
                    })
                }
            }
        }
    }
</script>
