<template>
    <div class="projects-scope-form">
        <loader :is-running="isRunning"></loader>

        <div class="card">
            <div class="card-body text-center">
                <form-header></form-header>
                <calculator-modal></calculator-modal>
                <h4 class="mb-2">{{ form.title }}</h4>
                <div class="dropdown-divider"></div>
                <form-banner></form-banner>
                <div v-for="(scopeData, areaId) in scopes" :key="areaId">
                    <table>
                        <tr>
                            <td colspan="2" class="bg-grey">
                                <h5 class="m-0 pt-1 pb-1"> {{ areasData[areaId] }} </h5>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%" class="bg-grey">
                                Overall Square Feet
                                <b-button size="sm" variant="success" class="pull-right" @click="openCalculatorModal(areaId)">
                                    <i class="fa fa-calculator"></i>
                                </b-button>

                            </td>
                            <td style="width: 50%">
                                <b-form-input size="sm" type="number" v-model="areas[areaId].overal_square_feet" @input="updateOverallSquareFeet(areas[areaId])"></b-form-input>
                            </td>
                        </tr>
                    </table>
                    <scope-list class="mt-1 mb-5"
                                v-if="scopeData"
                                :projectAreaID="areaId"
                                :projectID="project_id"
                                :scope-data="scopeData"
                                :uoms="uoms"
                                :isMisc="false"
                    ></scope-list>
                </div>

                <table>
                    <tr>
                        <td colspan="2" class="bg-grey">
                            <h5 class="m-0 pt-1 pb-1"> Miscellaneous </h5>
                        </td>
                    </tr>
                </table>
                <scope-list class="mt-1 mb-5"
                            v-if="miscScopes.length > 0"
                            :projectID="project_id"
                            :uoms="uoms"
                            :scope-data="miscScopes"
                            :isMisc="true"
                ></scope-list>
                <notes class="mt-3" :show-additional-notes="form.additional_notes_show"></notes>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import '../../../node_modules/froala-editor/js/froala_editor.pkgd.min'
    import FormHeader from './FormHeader'
    import FormBanner from './FormBanner'
    import ScopeList from './ScopeList'
    import FooterText from './FooterText'
    import apiProjectAreas from '../../api/project_areas'
    import apiProjectScope from '../../api/project_scope'
    import apiUom from '../../api/uom'
    import ErrorHandler from '../../mixins/error-handler'
    import Loader from '../layout/Loader'
    import DataProcessMixin from '../../mixins/data-process'
    import _ from 'lodash'
    import CalculatorModal from './modals/Calculator'
    import apiProjectForms from '../../api/project_forms'
    import Notes from './Notes'

    export default {
        mixins: [ErrorHandler, DataProcessMixin],
        components: {FormHeader, FormBanner, ScopeList, Loader, FooterText, CalculatorModal, Notes},
        data() {
            return {
                projectAreas: [],
                areas: [],
                areaIds: [],
                projectScopes: [],
                miscScopes: [],
                scopes: [],
                areasData: [],
                project_id: null,
                uoms: [],
                form: {}
            }
        },
        created() {
            this.$nextTick(() => {
                this.init()
            })
            this.$on('changeOSF', payload => {
                this.areas[payload.area_id].overal_square_feet = payload.val
                this.updateOverallSquareFeet(this.areas[payload.area_id])
            })
        },
        methods: {
            init() {
                this.run()
                this.project_id = this.$route.params.project_id

                apiProjectAreas.index({
                    project_id: this.project_id
                }).then(response => {
                    this.projectAreas = response.data.project_areas
                    this.areaIds = []
                    this.projectAreas.forEach(area => {
                        this.areas[area.id] = area
                        this.areaIds.push({
                            id: area.id,
                            title: area.standard_area.title
                        })
                    })

                    const apis = [
                        apiUom.index(),
                        apiProjectScope.index({
                            project_id: this.project_id,
                            areas: this.areaIds
                        }),
                        apiProjectForms.show(this.$route.params.project_id, {
                            id: this.$route.params.form_id
                        })
                    ]
                    Promise.all(apis)
                        .then(response => {
                            this.form = response[2].data.form
                            if (this.projectAreas.length === 0) {
                                this.$router.push({
                                    name: 'Form Affected Areas',
                                    params: {
                                        project_id: this.project_id,
                                        form_id: 12
                                    }
                                })
                                return
                            }
                            this.uoms = response[0].data.uoms
                            this.miscScopes = response[1].data.misc_page_scopes
                            this.scopes = response[1].data.scopes
                            this.areasData = response[1].data.areas_data
                            this.$emit('data-ready')
                        }).catch(response => {
                            this.$emit('data-failed')
                            this.handleErrorResponse(response)
                    })
                })
            },
            updateOverallSquareFeet: _.debounce(function(area) {
                apiProjectAreas.patch(area.id, area)
                    .then(res => {
                    }).catch(this.handleErrorResponse)
            }, 500),
            openCalculatorModal(areaId) {
                this.$emit('openCalculatorModal', areaId)
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    @import 'froala-editor/css/froala_editor.pkgd.min.css';
    @import 'froala-editor/css/froala_style.min.css';
    .projects-scope-form {
        table, th, td {
            border-collapse: collapse;
            padding: 3px;
        }

        table {
            width: 100%;
            input {
                text-align: center;
                width: 100%;
                background-color: transparent;
                border: none;
            }
        }

        table,th, td {
            border: 1px solid #737373 !important;
        }
        .w-50 {
            width: 50%;
        }

        .bg-grey {
            background-color: #c3c3c3;
        }

        .infinite-status-prompt {
            display: none !important;
        }
    }
</style>
