<template>
    <div>
        <div>
            <template v-if="!isMisc">
                <b-row v-for="(scopes, pageNumber) in scopeData" :key="pageNumber">
                    <div class="col-md-12">
                        <b-row>
                            <b-col cols="4" class="text-left">
                                RH = Regular Hours; AH = After Hours
                            </b-col>
                            <b-col></b-col>
                            <b-col cols="2" class="text-center" style="font-size:14px; color: black;">
                                Page: {{ pageNumber }} &nbsp;&nbsp;
                                <hr class="mt-0">
                            </b-col>
                        </b-row>
                    </div>
                    <b-list-group class="col-md-6 pr-3 scope-list-group">
                        <b-list-group-item v-for="scope in _regroupScopes(scopes).leftSectionScopes" :key="index" class='list-complete-item fr-box p-0'>
                            <div @mouseover="mouseOver(scope)" @mouseleave="mouseLeave(scope)">
                                <div class="fr-quick-insert" :class="{'fr-visible': scope.hover}">
                                    <a class="fr-floating-btn" role="button" tabindex="-1" v-if="!scope.service_from_standard" @click="setHeader(scope)">
                                        <i class="fa fa-header" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="fr-quick-insert fr-quick-right" :class="{'fr-visible': scope.hover}">
                                    <a class="fr-floating-btn" role="button" tabindex="-1" v-if="!scope.service_from_standard" @click="removeItem(scope)">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <b-row class="m-0">
                                    <div v-if="scope.header" class="bg-grey w-selected"><i class="fa fa-times"></i></div>
                                    <div v-else class="w-selected" @click="updateScope(scope, 'selected')">
                                        <label>{{ scope.selected || '&nbsp;' }}</label>
                                    </div>
                                    <div :class="{'bg-grey': scope.header}" class="w-service">
                                        <b-form-input v-model="scope.service" @input="updateScope(scope)" :disabled="scope.service_from_standard" :class="{'bg-grey': scope.header, 'disabled': scope.service_from_standard}"></b-form-input>
                                    </div>
                                    <div v-if="scope.header" class="bg-grey w-uom">UOM</div>
                                    <div v-else class="w-uom">
                                        <select v-model='scope.uom' class='form-control header-uom pt-0 pb-0' :disabled="scope.uom_from_standard" :class="{'disabled': scope.uom_from_standard}" @change="updateScope(scope)">
                                            <option :value='null'> ---- </option>
                                            <option v-for='uom in uoms' :key='uom.id' :value='uom.id'>{{ uom.title }}</option>
                                        </select>
                                    </div>
                                    <div v-if="scope.header" class="bg-grey w-qty">QTY</div>
                                    <div v-else class="w-qty">
                                        <b-form-input v-model="scope.quantity" @input="updateScope(scope)"></b-form-input>
                                    </div>
                                </b-row>
                            </div>
                        </b-list-group-item>
                    </b-list-group>
                    <b-list-group class="col-md-6 pl-3 scope-list-group">
                        <b-list-group-item v-for="scope in _regroupScopes(scopes).rightSectionScopes" :key="index" class='list-complete-item fr-box p-0'>
                            <div @mouseover="mouseOver(scope)" @mouseleave="mouseLeave(scope)">
                                <div class="fr-quick-insert" :class="{'fr-visible': scope.hover}">
                                    <a class="fr-floating-btn" role="button" tabindex="-1" v-if="!scope.service_from_standard" @click="setHeader(scope)">
                                        <i class="fa fa-header" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="fr-quick-insert fr-quick-right" :class="{'fr-visible': scope.hover}">
                                    <a class="fr-floating-btn" role="button" tabindex="-1" v-if="!scope.service_from_standard" @click="removeItem(scope)">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <b-row class="m-0">
                                    <div v-if="scope.header" class="bg-grey w-selected"><i class="fa fa-times"></i></div>
                                    <div v-else class="w-selected" @click="updateScope(scope, 'selected')">
                                        <label>{{ scope.selected || '&nbsp;' }}</label>
                                    </div>
                                    <div :class="{'bg-grey': scope.header}" class="w-service">
                                        <b-form-input v-model="scope.service" @input="updateScope(scope)" :disabled="scope.service_from_standard" :class="{'bg-grey': scope.header, 'disabled': scope.service_from_standard}"></b-form-input>
                                    </div>
                                    <div v-if="scope.header" class="bg-grey w-uom">UOM</div>
                                    <div v-else class="w-uom">
                                        <select v-model='scope.uom' class='form-control header-uom pt-0 pb-0' :disabled="scope.uom_from_standard" :class="{'disabled': scope.uom_from_standard}" @change="updateScope(scope)">
                                            <option :value='null'> ---- </option>
                                            <option v-for='uom in uoms' :key='uom.id' :value='uom.id'>{{ uom.title }}</option>
                                        </select>
                                    </div>
                                    <div v-if="scope.header" class="bg-grey w-qty">QTY</div>
                                    <div v-else class="w-qty">
                                        <b-form-input v-model="scope.quantity" @input="updateScope(scope)"></b-form-input>
                                    </div>
                                </b-row>
                            </div>
                        </b-list-group-item>
                    </b-list-group>
                </b-row>
            </template>

            <template v-else>
                <b-row>
                    <div class="col-md-12">
                        <b-row align-h="end">
                            <b-col cols="4" class="text-left">
                                RH = Regular Hours; AH = After Hours
                            </b-col>
                            <b-col></b-col>
                            <b-col cols="2" class="text-center" style="font-size:14px; color: black;">
                                Misc Page
                                <hr class="mt-0">
                            </b-col>
                        </b-row>
                    </div>
                    <b-list-group class="col-md-6 pr-3 scope-list-group">
                        <b-list-group-item v-for="scope in _regroupScopes(scopeData).leftSectionScopes" :key="scope.id" class='p-0'>
                            <b-row class="m-0">
                                <div v-if="scope.header" class="bg-grey w-selected"><i class="fa fa-times"></i></div>
                                <div v-else class="w-selected" @click="updateScope(scope, 'selected')">
                                    <label>{{ scope.selected || '&nbsp;' }}</label>
                                </div>
                                <div :class="{'bg-grey': scope.header}" class="w-service">
                                    <b-form-input v-model="scope.service" @input="updateScope(scope)" :disabled="scope.service_from_standard" :class="{'bg-grey': scope.header, 'disabled': scope.service_from_standard}"></b-form-input>
                                </div>
                                <div v-if="scope.header" class="bg-grey w-uom">UOM</div>
                                <div v-else class="w-uom">
                                    <select v-model='scope.uom' class='form-control header-uom pt-0 pb-0' :disabled="scope.uom_from_standard" :class="{'disabled': scope.uom_from_standard}" @change="updateScope(scope)">
                                        <option :value='null'> ---- </option>
                                        <option v-for='uom in uoms' :key='uom.id' :value='uom.id'>{{ uom.title }}</option>
                                    </select>
                                </div>
                                <div v-if="scope.header" class="bg-grey w-qty">QTY</div>
                                <div v-else class="w-qty">
                                    <b-form-input v-model="scope.quantity" @input="updateScope(scope)"></b-form-input>
                                </div>
                            </b-row>
                        </b-list-group-item>
                    </b-list-group>
                    <b-list-group class="col-md-6 pl-3 scope-list-group">
                        <b-list-group-item v-for="scope in _regroupScopes(scopeData).rightSectionScopes" :key="scope.id" class='p-0'>
                            <b-row class="m-0">
                                <div v-if="scope.header" class="bg-grey w-selected"><i class="fa fa-times"></i></div>
                                <div v-else class="w-selected" @click="updateScope(scope, 'selected')">
                                    <label>{{ scope.selected || '&nbsp;' }}</label>
                                </div>
                                <div :class="{'bg-grey': scope.header}" class="w-service">
                                    <b-form-input v-model="scope.service" @input="updateScope(scope)" :disabled="scope.service_from_standard" :class="{'bg-grey': scope.header, 'disabled': scope.service_from_standard}"></b-form-input>
                                </div>
                                <div v-if="scope.header" class="bg-grey w-uom">UOM</div>
                                <div v-else class="w-uom">
                                    <select v-model='scope.uom' class='form-control header-uom pt-0 pb-0' :disabled="scope.uom_from_standard" :class="{'disabled': scope.uom_from_standard}" @change="updateScope(scope)">
                                        <option :value='null'> ---- </option>
                                        <option v-for='uom in uoms' :key='uom.id' :value='uom.id'>{{ uom.title }}</option>
                                    </select>
                                </div>
                                <div v-if="scope.header" class="bg-grey w-qty">QTY</div>
                                <div v-else class="w-qty">
                                    <b-form-input v-model="scope.quantity" @input="updateScope(scope)"></b-form-input>
                                </div>
                            </b-row>
                        </b-list-group-item>
                    </b-list-group>
                </b-row>
            </template>
        </div>
    </div>
</template>

<script type="text/babel">
    import apiProjectScope from '../../api/project_scope'
    import ErrorHandler from '../../mixins/error-handler'
    import _ from 'lodash'

    export default {
        mixins: [ErrorHandler],
        data() {
            return {
            }
        },
        props: ['projectID', 'projectAreaID', 'uoms', 'isMisc', 'scopeData'],
        methods: {
            updateScope: _.debounce(function(scope, type) {
                this.updateSelected(scope, type)
                apiProjectScope.patch(scope.id, scope)
                    .then(response => {
                    }).catch(this.handleErrorResponse)
            }, 500),
            mouseOver(scope) {
                this.$set(scope, 'hover', true)
            },
            mouseLeave(scope) {
                this.$set(scope, 'hover', false)
            },
            setHeader(scope) {
                scope.header = !scope.header
                this.removeItem(scope)
                this.updateScope(scope)
            },
            removeItem(scope) {
                scope.service = null
                scope.quantity = null
                scope.selected = null
                scope.uom = null
                this.updateScope(scope)
            },
            updateSelected(scope, type) {
                if (type === 'selected') {
                    if (scope.selected === 'RH') {
                        scope.selected = 'AH'
                    } else if (scope.selected === 'AH') {
                        scope.selected = 'X'
                    } else if (scope.selected === 'X') {
                        scope.selected = null
                    } else {
                        scope.selected = 'RH'
                    }
                }
            },
            _regroupScopes(scopes) {
                let regroupedScopes = {
                    leftSectionScopes: [],
                    rightSectionScopes: []
                }
                _.forEach(scopes, (scope, index) => {
                    if (index < scopes.length / 2) {
                        regroupedScopes.leftSectionScopes.push(scope)
                    } else {
                        regroupedScopes.rightSectionScopes.push(scope)
                    }
                })

                return regroupedScopes
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    @import "./scss/ScopeList.scss";
</style>
