@import '~bootstrap/dist/css/bootstrap.min.css'

p, label, div, span, h1, h2, h3, h4, h5, h6, ul, li, a
  +catamaran

[v-cloak]
  +none

button.btn, a.btn, input.btn, span.circular.badge
  +radius(30px)
  +shadow-1

.btn-default
  background-color: $default
  border-color: $default
  +clr(black !important)
  &:hover, &:focus, &:active
    background-color: darken($default, 7.5) !important
    border-color: darken($default, 7.5) !important

.btn-secondary
  background-color: $secondary
  border-color: $secondary
  +clr($white !important)
  &:hover, &:focus, &:active
    background-color: darken($secondary, 7.5) !important
    border-color: darken($secondary, 7.5) !important

.btn-tertiary
  background-color: $tertiary
  border-color: $tertiary
  +clr($grey !important)
  &:hover, &:focus, &:active
    background-color: darken($tertiary, 7.5) !important
    border-color: darken($tertiary, 7.5) !important

=v-clipped
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%)
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%)

=v-clipped-inverse
  -webkit-clip-path: polygon(50% 0, 100% 5%, 100% 100%, 0 100%, 0 5%)
  clip-path: polygon(50% 0, 100% 5%, 100% 100%, 0 100%, 0 5%)

hr.section-divider
  max-width: 50px
  +b(2px solid $secondary)

hr.section-divider.tertiary
  max-width: 50px
  +b(2px solid $tertiary)

=underline
  content: ''
  +block
  +w(0%)
  +bg($secondary)
  +h(3px)
  opacity: 0
  transition: .3s ease-out

.suez-1
  +suez-one

.mktg-list
  +p(0)
  li
    list-style: none
    +flex
    +flex-a-item-start
    margin-bottom: 5px
    i.fa
      +clr(#4DA157)
      +m(2px 5px 0 0)

.side-piped
  &::before
    +underline
    opacity: 1
    +box(3px, 30px)
    +rel
    left: -10px
    bottom: -30px !important

.side-piped.secondary
  &::before
    +bg($yellow)

.article-thumbnail
  +bg-img-attr
  min-height: 200px !important
  border-top-right-radius: 4px
  border-top-left-radius: 4px

.text-yellow
  +clr($yellow !important)

.text-tertiary-lightest
  +clr($tertiary-lightest !important)

tr.bg-primary-light
  background-color: #DFF1F5 !important

tr.bg-secondary-light
  background-color: #FFF7DF !important

=yt-vid
  &.video-container
    +rel
    +pb(56.25%)
    +pt(30px)
    +h(0)
    +o-flow(hidden)
    +shadow-1
  &.video-container iframe,
  &.video-container object,
  &.video-container embed 
    +abs
    top: 0
    left: 0
    +square(100%)

i.fa
  &.success
    +clr(#4DA157)
  &.dim
    +clr($dim)

.pagination
  justify-content: center

.btn.call-to-act
  +pl(25px !important)
  +pr(25px !important)

.g-recaptcha
  +scale(1)
  +transform-origin(0 0)
  @media screen and (max-width: 320px)
    +scale(0.5)

.padded-page
  +mt(70px)
  +mb(70px)

.padded-bottom
  +mb(70px)

.padded-top
  +mt(70px)

.bannered-page
  +pb(70px)
  .mktg-page-banner
    .background
      +h(100%)
  .main.container
    +pt(35px)

@import './components/includes/article-cover'