<template>
    <b-modal id="calculator" title="Calculator" class="text-left" @ok="store" v-model="show">
        <div style="width:100%;" v-for="(row, index) in rows">
            <div style="width:27%; float:left">
                <b-form-input size="sm" type="number" v-model="row.height" placeholder="H"></b-form-input>
            </div>
            <div style="width:5%;" class="divider">
                <label><i class="fa fa-times"></i></label>
            </div>
            <div style="width:27%; float:left">
                <b-form-input size="sm" type="number" v-model="row.width" placeholder="W"></b-form-input>
            </div>
            <div style="width:5%;" class="divider">
                <label> = </label>
            </div>
            <div style="width:27%; float:left">
                <b-form-input size="sm" type="number" :value="row.width * row.height" placeholder=""></b-form-input>
            </div>
            <div style="width:6%;" class="divider remover" v-if="rows.length > 1">
                <button class="btn btn-sm btn-default" @click="removeRow(index)"> <i class="fa fa-minus-circle"></i> </button>
            </div>
        </div>
        <div class="col-xs-12 footer" v-if="addRowEnabled">
            <button class="btn btn-sm btn-default" @click="addRow"><i class="fa fa-plus-circle"></i></button>
        </div>
        <div class="col-xs-12 totals">
            <label><span v-for="(row, index) in rows">({{ row.height }} <i class="fa fa-times"></i> {{ row.width }}) <span v-if="index < rows.length - 1"> + </span></span> = <span>{{ total }}</span></label>
        </div>
    </b-modal>
</template>

<script type="text/babel">
    import ErrorHandler from '../../../mixins/error-handler'
    import _ from 'lodash'

    export default {
        mixins: [ErrorHandler],
        name: 'calculator',
        created() {
            this.$parent.$on('openCalculatorModal', areaId => {
                this.area_id = areaId
                this.width = 0
                this.height = 0
                this.rows = [
                    {
                        height: 0,
                        width: 0
                    }
                ]
                this.show = true
            })
        },
        computed: {
            total() {
                let total = 0
                this.rows.forEach(row => {
                    total += row.height * row.width
                })

                return total
            },
            addRowEnabled() {
                return this.rows.length < 4
            }
        },
        data() {
            return {
                rows: [
                    {
                        height: 0,
                        width: 0
                    }
                ],
                show: false,
                area_id: 0,
                width: 0,
                height: 0
            }
        },
        methods: {
            addRow() {
                if (this.addRowEnabled) {
                    this.rows.push({
                        height: 0,
                        width: 0
                    })
                }
            },
            removeRow(indexToRemove) {
                this.rows = _.remove(this.rows, (row, index) => {
                    return index !== indexToRemove
                })
            },
            store: function() {
                this.$parent.$emit('changeOSF', {
                    area_id: this.area_id,
                    val: this.total
                })
                this.show = false
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss" scoped>
    .modal-body {
        flex-direction: column;
        div {
            display: flex;
            padding-bottom: 2px;
        }
    }
    .footer {
        text-align: left;
    }
    .divider {
        justify-content: center;
        &.remover {
            justify-content: end;
        }
    }
    .totals {
        justify-content: flex-end;
    }
    .fa-minus-circle {
        color: red;
    }
</style>
