<template>
    <b-modal id="files_videos" title="Photos & Videos for current project" class="text-left" @ok="store" v-model="show">
        <vue-dropzone ref="filesDropzone" id="dropzone2" :options="dropzoneOptions"
                      v-on:vdropzone-sending="uploadFile" v-on:vdropzone-success="init"
                      v-on:dropzone-error="handleError" v-on:vdropzone-error-multiple="handleError"
        ></vue-dropzone>
        <br>
        <h5 class="text-center">Files</h5>
        <div class="files row">
            <div class="loading" v-if="show && loading">
                <i class="fa fa-3x fa-circle-o-notch fa-spin"></i>
            </div>
            <div v-for="(file, index) in files" class="col-xs-3 img-wrapper">
                <div class="img">
                    <img :src="file.link"/>
                </div>
                <p>
                    <b-btn :id="'popoverButton-event-' + index" variant="default" size="sm">{{ file.filename | truncate(15) }}</b-btn>
                    <b-popover ref="popover" :target="'popoverButton-event-' + index" title="Change file name" placement="top">
                        <input type="text" v-model="file.newName"><b-btn variant="primary" size="sm" @click="update(file)">Submit</b-btn>
                    </b-popover>
                </p>

            </div>
        </div>
    </b-modal>
</template>

<script type="text/babel">
    import Vue from 'vue'
    import ErrorHandler from '../../../mixins/error-handler'
    import vue2Dropzone from 'vue2-dropzone'
    import apiFiles from '../../../api/files'

    export default {
        mixins: [ErrorHandler],
        name: 'files-modal',
        components: {
            vueDropzone: vue2Dropzone
        },
        created() {
            this.$parent.$on('open-files-modal', payload => {
                this.$refs.filesDropzone.removeAllFiles()
                this.show = true
                this.init()
            })
        },
        computed: {},
        data() {
            return {
                show: false,
                loading: false,
                text1: null,
                files: [],
                dropzoneOptions: {
                    url: '/api/project/files',
                    thumbnailWidth: 150,
                    maxFilesize: 5000,
                    maxFiles: 100,
                    timeout: 1200000,
                    addRemoveLinks: true,
                    dictDefaultMessage: '<i class="fa fa-cloud-upload"></i> Drop files here to upload',
                    headers: {
                        'Authorization': 'Bearer ' + Vue.localStorage.get('apiToken')
                    }
                }
            }
        },
        methods: {
            init() {
                this.loading = true
                this.files = []
                apiFiles.show(this.$route.params.project_id)
                    .then(response => {
                        this.files = response.data
                        this.loading = false
                    })
            },
            changeState(file) {
                file.modify = true
                file.newFilename = null
            },
            update(file) {
                apiFiles.update(this.$route.params.project_id, file)
                    .then(response => {
                        this.init()
                    })
                    .catch(response => {
                        this.handleErrorResponse(response)
                    })
            },
            uploadFile(file, xhr, formData) {
                formData.append('project_id', this.$route.params.project_id)
            },
            handleError(file, message, xhr) {
                console.log(message)
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    @import 'vue2-dropzone/dist/vue2Dropzone.min.css';

    #files_videos {
        .modal-dialog {
            max-width: 60%;
            margin: 5% auto;
        }
    }
    #files_videos___BV_modal_body_ {
        margin: 0 !important;
        width: 100%;
        min-width: 100%;
    }
    .files {
        width: 100%;
        height: 400px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: 0 !important;
        max-width: 100% !important;
        border-radius: 4px;
        overflow-y: auto;
        .img-wrapper {
            padding: 10px;
            max-height: 180px;
            max-width: 170px;
            overflow: hidden;
            align-items: center;
            text-align: center;
            .img {
                height: 130px;
                width: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-height: 130px;
                    max-width: 130px;
                    cursor: pointer;
                }
            }
            p {
                cursor: pointer;
            }
        }
    }
    .loading {
        background-color: rgba(255, 255, 255, 0.7);
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: 5%;
        color: rgba(0, 0, 0, 0.4);
    }
    .popover-body {
        div {
            input {
                height: 31px;
                line-height: 31px;
                margin-right: 3px;
            }
        }
    }
</style>

<style type="text/css" lang="scss" rel="stylesheet/scss" scoped>

</style>
