<template>

    <b-modal id="missingEquipment" :title="modalName" class="text-left" @ok="changeStatus()" v-model="show"
             :ok-title="'Yes'" :cancel-title="'No'" :ok-variant="'primary'">
        <h5>Are you sure you want to mark this missing?</h5>
    </b-modal>

</template>

<script type="text/babel">
    import apiEquipment from '../../../api/equipment'
    import ErrorHandler from '../../../mixins/error-handler'

    export default {
        name: 'missing-equipment-modal',
        mixins: [ErrorHandler],
        created() {
            this.$parent.$on('openMissingEquipmentModal', (payload) => {
                this.equipment = payload.equipment
                this.projectId = payload.projectId
                this.show = true
            })
        },
        data() {
            return {
                show: false,
                equipment: {}
            }
        },
        computed: {
            modalName() {
                return 'Missing Equipment'
            }
        },
        methods: {
            changeStatus() {
                let data = {
                    id: this.equipment.id,
                    status_id: 5,
                    project_id: null,
                    company_id: this.equipment.company_id,
                    unset_project: this.projectId,
                    date: this.$moment().format('YYYY-MM-DD')
                }
                apiEquipment.patch(this.equipment.id, data)
                    .then(response => {
                        this.$parent.$emit('reload')
                    })
                    .catch(this.handleErrorResponse)
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
</style>
