<template>

    <b-modal id="removeProject" :title="modalName" class="text-left" @ok="sendReviewRequest()" v-model="show"
             :ok-title="'Yes'" :cancel-title="'No'" :ok-variant="'primary'">
        <h5>Would you like to send review request?</h5>
    </b-modal>

</template>

<script type="text/babel">
    import apiProjects from '../../../api/projects'
    import ErrorHandler from '../../../mixins/error-handler'

    export default {
        name: 'review-request-modal',
        mixins: [ErrorHandler],
        created() {
            this.$parent.$on('openReviewRequestModal', (payload) => {
                this.id = payload.id
                this.show = true
            })
        },
        data() {
            return {
                show: false,
                id: null
            }
        },
        computed: {
            modalName() {
                return 'Review Request'
            }
        },
        methods: {
            sendReviewRequest() {
                if (this.id) {
                    apiProjects.requestReview(this.id)
                        .then(response => {
                            this.$notify({
                                type: 'success',
                                title: 'Success',
                                text: response.data.message
                            })
                        })
                        .catch(error => {
                            this.handleErrorResponse(error)
                        })
                }
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
</style>
