<template>

    <b-modal id="removeProject" :title="modalName" class="text-left" @ok="close()" v-model="show"
             :ok-title="'Close'" :ok-variant="'default'" ok-only="true">
        <h5>You still have equipment set! Please pick up your equipment before this project can be {{ type }}.</h5>
    </b-modal>

</template>

<script type="text/babel">
    import apiProjects from '../../../api/projects'
    import ErrorHandler from '../../../mixins/error-handler'

    export default {
        name: 'unset-equipment-modal',
        mixins: [ErrorHandler],
        created() {
            this.$parent.$on('openUnsetEquipmentModal', (payload) => {
                this.id = payload.id
                this.show = true
            })
        },
        data() {
            return {
                show: false,
                id: null
            }
        },
        props: [
            'type'
        ],
        computed: {
            modalName() {
                return 'Pick Up Equipment'
            }
        },
        methods: {
            close() {
                this.show = false
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
</style>
