<template>

    <b-modal :title="title" class="text-left" @ok="store()" v-model="show" ok-only="true">
        <p><strong>Please Note</strong>: Any legal document(s) used or modified, should always be reviewed by an attorney in your local area.</p>
        <b-form-checkbox id="checkbox1" v-model="skipDisclaimer" value="1" unchecked-value="0">
            Do not show this dialog again.
        </b-form-checkbox>
    </b-modal>

</template>

<script type="text/babel">
    import {mapGetters} from 'vuex'
    import apiCompanies from '../../../api/companies'

    export default {
        name: 'legal-disclaimer-modal',
        created() {

        },
        data() {
            return {
                title: 'Legal Disclaimer',
                skipDisclaimer: false
            }
        },
        computed: {
            ...mapGetters([
                'company'
            ]),
            show() {
                if (!this.company.id) {
                    return false
                } else {
                    return this.company && !this.company.skip_disclaimer
                }
            }
        },
        methods: {
            store() {
                if (this.skipDisclaimer) {
                    let companyData = this.company
                    companyData.skip_disclaimer = this.skipDisclaimer
                    apiCompanies.patch(this.company.id, companyData)
                        .then(response => {})
                }
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
</style>
