$break-extra: 1200px;
body {
    overflow: hidden;
    position: relative;
    @media screen and (max-width: $break-extra) {
        font-size: 14px;
    }
}

#app {
    padding-left: 0;
    padding-right: 0;
    // background: url('../../assets/br_footer_black_linen.png');
}

.btn-xs {
    font-size: 11px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.content {
    display: block;
    width: 100%;
    height: calc(100% - 87px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.sign-view {
    height: 90vh;
    overflow-y: scroll;
}

.pointer {
  cursor: pointer;
}

.custom-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 24px;
    min-height: 1.5rem;
    padding-left: 24px;
    padding-left: 1.5rem;
    margin-right: 16px;
    margin-right: 1rem;
    .custom-control-indicator {
        border-radius: .25rem;
    }
    .custom-control-indicator {
        position: absolute;
        top: 4px;
        top: .25rem;
        left: 0;
        display: block;
        width: 16px;
        width: 1rem;
        height: 16px;
        height: 1rem;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #ddd;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 50% 50%;
    }
    .custom-control-input:checked~.custom-control-indicator {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
    }
    .custom-control-input:checked~.custom-control-indicator {
        color: #fff;
        background-color: #007bff;
    }
}

.modal-footer {
  padding: 6px !important;
}

.table {
  th, td {
    vertical-align: middle !important;
  }
}

.dropdown-menu {
  max-height: 200px;
  overflow: auto;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
  }
}

.scrollbar-primary {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
  }
}
.scrollbar-danger {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547;
  }
}
.scrollbar-warning {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800;
  }
}
.scrollbar-success {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
  }
}
.scrollbar-info {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5;
  }
}
.scrollbar-default {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD;
  }
}
.scrollbar-secondary {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc;
  }
}

input::-webkit-input-placeholder {
  color: #999 !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #999 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #999 !important;
}

input:-ms-input-placeholder {
  color: #999 !important;
}

// section.content[role=main] {
//   background: rgba(255, 255, 255, 0.4);
//   .card {
//     background: transparent;
//     .card-header {
//       h5 {
//         color: white;
//         text-shadow: 2px 2px 10px hsl(231, 40%, 27%);
//       }
//     }
//   }
// }

.left-sidebar-img {
  float: left;
}

.icon-margin {
  width: calc(100% - 35px);
}

.left-sidebar-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  float: left;
  text-align: left;
  white-space: nowrap;
  width: calc(100% - 39px);
  margin-left: 7px;
  line-height: 25px;
}

.right-sidebar-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}

button[data-cmd="Tokens"], button[data-cmd="Blocks"] {
  width: 80px !important;
  text-align: center !important;
}

button[data-cmd="Statements"] {
  width: 110px !important;
  text-align: center !important;
}
