<template>
    <b-container fluid id="app">
        <v-header :sideBarOpened.sync="sideBarOpened"/>

        <files-modal></files-modal>

        <b-row v-if="!isSignView" class="m-0">
            <v-left-sidebar :collapsed.sync="sideBarCollapsed" class="col-md-2"/>
            <div class="col-md-8 p-0">
                <section role="main" class="content">
                    <notifications position="top center"/>
                    <router-view></router-view>
                </section>
            </div>
            <v-right-sidebar :collapsed.sync="sideBarCollapsed" class="col-md-2 p-0"/>
        </b-row>

        <b-row v-else align-h="center" class="sign-view m-0 pt-5">
            <div class="col-8">
                <notifications position="top center"/>
                <router-view></router-view>
            </div>
        </b-row>
    </b-container>
</template>

<script type="text/babel">
    import {mapGetters} from 'vuex'
    import VHeader from './VHeader'
    import VLeftSidebar from './VLeftSidebar'
    import VRightSidebar from './VRightSidebar'
    import FilesModal from '../forms/modals/FilesModal'

    export default {
        data() {
            return {
                sideBarOpened: false,
                sideBarCollapsed: true,
                sideBarHidden: true,
                isLoaded: false,
                isSignView: false,
                redirected: false
            }
        },
        components: {FilesModal, VHeader, VLeftSidebar, VRightSidebar},
        created() {
            this.isSignView = this.beforeSign()
        },
        computed: {
            ...mapGetters([
                'company',
                'user'
            ]),
            bodyClass() {
                let bodyClass = []
                if (this.sideBarCollapsed) {
                    bodyClass.push('sidebar-left-collapsed')
                }
                if (this.sideBarOpened) {
                    bodyClass.push('sidebar-left-opened')
                }
                return bodyClass
            }
        },
        watch: {
            '$route'(to, from) {
                this.isSignView = this.beforeSign()
                if (!this.isSignView && this.user.id && !this.company.id) {
                    this.$router.push('/settings/company')
                    this.$notify({
                        type: 'warning',
                        title: 'You need to set your company details before proceed.'
                    })
                }
            }
        },
        methods: {
            beforeSign() {
                if (this.$route.name === 'Login' || this.$route.name === 'Register' || this.$route.name === 'Set Password' || this.$route.name === 'Reset Password') {
                    if (this.$localStorage.get('apiToken')) {
                        this.$router.push('/')
                    }
                    return true
                } else {
                    return false
                }
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    @import "./Main.scss";
</style>
