<template>
    <div class="right_menu_group text-center">
        <div v-for="link in $route.meta.rightLinks" :key="link.name">
            <div v-if="link.name === 'Print'" class="right-menu-item" :class="$route.name === 'Print' ? 'bg-activate': ''">
                <router-link :to="{name: 'Print', params: {project_id: projectId}}" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-if="link.name === 'Save'" class="right-menu-item" :class="$route.name === 'Save' ? 'bg-activate': ''">
                <router-link :to="{name: 'Save', params: {project_id: projectId}}" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-else-if="link.name === 'Preview'" class="right-menu-item" :class="$route.name === 'Preview' ? 'bg-activate': ''">
                <router-link :to="{name: 'Preview', params: {project_id: projectId}}" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-else-if="link.name === 'Preview Form' && formId !== null" class="right-menu-item" :class="$route.name === 'Preview Form' ? 'bg-activate': ''">
                <router-link :to="{name: 'Preview Form', params: {form_id: formId}}" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-else-if="link.name === 'Email'" class="right-menu-item" :class="$route.name === 'Email' ? 'bg-activate': ''">
                <router-link :to="{name: 'Email', params: {project_id: projectId}}" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-else-if="link.path && link.name !== 'Print'" class="right-menu-item" :class="$route.path === link.path ? 'bg-activate': ''">
                <router-link :to="link.path" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-if="link.form_id == 12" class="right-menu-item" :class="$route.name === 'Form Affected Areas' ? 'bg-activate': ''">
                <router-link :to="{name: 'Form Affected Areas', params: {project_id: projectId, form_id: link.form_id}}" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-else-if="(formId == 7 || formId == 8 || formId == 13) && link.form_id == 13" class="right-menu-item" :class="$route.params.form_id == 13 ? 'bg-activate': ''">
                <router-link :to="{name: 'Form Add Days', params: {project_id: projectId, form_id: link.form_id, prev_id: formId}}" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-else-if="(formId == 6 || formId == 14 )&& link.form_id == 14" class="right-menu-item" :class="$route.params.form_id == 14 ? 'bg-activate': ''">
                <router-link :to="{name: 'Form Equipment Manager', params: {project_id: projectId, form_id: link.form_id}}" class="pointer text-white text-center">
                    <p :class="link.mt ? 'text-uppercase m-0 right-sidebar-ellipse icon-margin' : 'text-uppercase float-left m-0 right-sidebar-ellipse icon-margin'" class="right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </router-link>
            </div>
            <div v-if="link.methodCall" class="right-menu-itemm" :class="link.mt ? 'mt-2': ''">
                <div class="pointer text-white text-center" @click="methodCall(link.methodCall)">
                    <p class="text-uppercase float-left m-0 right-sidebar-ellipse icon-margin right-menu-text">{{ link.name }}</p>
                    <img v-if="link.icon !== ''" :src="link.icon" class="float-right right-menu-icon">
                </div>
            </div>
        </div>
        <div class="right-menu-item" @click="openFilesModal($route.params.project_id)" v-if="$route.params.project_id">
            <a class="pointer text-white text-center">
                <p class="right-menu-text text-uppercase float-left m-0 right-sidebar-ellipse icon-margin">Photos/Videos</p>
            </a>
        </div>
    </div>
</template>
<script type="text/babel">
    export default {
        data() {
            return {
                isFormOrder: false,
                formOrderHiddenMenu: ['Save', 'Add Statement'],
                isForms: null,
                projectId: null,
                formId: null
            }
        },
        created() {},
        methods: {
            methodCall(mth) {
                return this[mth.section](mth.name)
            },
            standards(name) {
                if (name === 'add_statement') {
                    this.$bus.$emit('standards_add_statement')
                } else if (name === 'save') {
                    this.$bus.$emit('standards_save')
                }
            },
            forms(name, action) {
                if (name === 'save') {
                    let routeName = this.$route.name
                    this.$bus.$emit('forms_save', routeName)
                }
            },
            preview(flag) {
                window.location.href = '/project/print/' + this.projectId
            },
            openFilesModal(projectId) {
                this.$parent.$emit('open-files-modal', {
                    projectId: projectId
                })
            }
        },
        watch: {
            '$route' (to, from) {
                this.isFormOrder = to.path.indexOf('standards/formorder') !== -1
                if (this.$route.params.form_id) {
                    this.formId = this.$route.params.form_id
                }
                if (to.path.indexOf('forms') !== -1) {
                    this.projectId = to.params.project_id
                    this.formId = to.params.form_id
                }
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    .right_menu_group {
        height: 100vh;
        background-color: #0d1722;
    }
    .right-menu-item {
        background-color: #046ac3;
        margin-bottom: 3px;
        height: 50px;
        border-radius: unset;
    }
    .right-menu-text {
        padding-left: 21.5px;
        padding-top: 11.5px;
        width: 160px;
    }
    .right-menu-icon {
        padding-top: 11.5px;
        padding-right: 25px;
    }
    @media screen and (max-width: 1319px) {
        .right-menu-item {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            a {
                p {
                    padding-left: 21.5px;
                    padding-top: 11.5px;
                    width: 70%;
                }
                img {
                    padding-right: 8px;
                }
            }
        }
    }
</style>

<style type="text/css" lang="scss" rel="stylesheet/scss" scoped>
    .bg-activate {
        background-color: #4d94d4;
    }
</style>
