<template>
    <div class="card text-center">
        <div class="card-header">
            <h4>Reset Password</h4>
        </div>
        <div class="card-body">
            <form class="text-right mt-5">
                <div class="form-group row mt-3">
                    <label class="col-md-3 col-form-label">Email</label>
                    <input type="text" class="form-control col-md-6" v-model="user.email">
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <b-button variant="primary" @click="submit">Submit</b-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">
    import apiAuth from '../../api/auth'
    import ErrorHandler from '../../mixins/error-handler'

    export default {
        name: 'PasswordReset',
        mixins: [ErrorHandler],
        data() {
            return {
                remember: false,
                user: {
                    email: null,
                    token: this.$route.query.token
                }
            }
        },
        methods: {
            submit() {
                apiAuth.resetPassword(this.user)
                    .then(response => {
                        this.$notify({
                            type: 'success',
                            title: response.data.message
                        })
                        setTimeout(() => {
                            this.$router.push({
                                name: 'Login'
                            })
                        }, 2000)
                    }).catch(this.handleErrorResponse)
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
</style>
