<template>
    <div class="standards-affected-areas">
        <legal-disclaimer-modal></legal-disclaimer-modal>
        <b-modal id="revertScope" title="Revert Affected Areas to Default" class="text-left" @ok="revert()"
                 v-model="showRevertModal"
                 :ok-title="'Confirm'" :ok-variant="'danger'">
            <h5>Are you sure you want to revert to the default affected areas? This action can't be rolled back.</h5>
        </b-modal>

        <div v-if="isLoaded" class="card text-center">
            <div class="card-header">
                <h5>{{ $route.meta.title }}</h5>
            </div>
            <div class="card-body">
                <b-row>
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-info pull-right" @click="revertToDefaultConfirmation()">Revert to Default</button>
                    </div>
                </b-row>
                <b-row>
                    <div class="col-md-12">
                        <b-table ref="areasTable" :items="areas" small striped hover :fields="areasHeader"
                                 head-variant="" align-v="center">
                            <template slot="no" slot-scope="data">
                                {{ data.index + 1 }}
                            </template>
                            <template slot="actions" slot-scope="row">
                                <i class="fa fa-trash text-danger" @click="deleteArea(row.item.id)"></i>
                            </template>
                        </b-table>
                    </div>
                    <div class="col-md-6">
                        <label>Add Area:</label>
                        <b-input-group :size="template_size">
                            <input type="text" class="form-control form-control-sm" placeholder="Input title"
                                   v-model="newArea" name="newArea" :class="{'is-invalid': errors.has('newArea')}"
                                   v-validate data-vv-rules="required">
                            <b-input-group-button>
                                <b-btn :size="template_size" :variant="'primary'" @click='addArea'>+</b-btn>
                            </b-input-group-button>
                        </b-input-group>
                    </div>
                </b-row>
            </div>
        </div>
        <loading v-else></loading>
    </div>
</template>

<script type="text/babel">
    import apiStandardArea from '../../api/standard_area'
    import ErrorHandler from '../../mixins/error-handler'
    import Loading from '../layout/Loading'
    import LegalDisclaimerModal from './modals/LegalDisclaimer'

    export default {
        mixins: [ErrorHandler],
        components: {
            Loading,
            LegalDisclaimerModal
        },
        data() {
            return {
                areasHeader: {
                    no: {
                        label: 'No',
                        'class': 'text-center',
                        sortable: false
                    },
                    title: {
                        label: 'Title',
                        sortable: true,
                        'class': 'text-center'
                    },
                    actions: {
                        label: 'Actions',
                        sortable: false,
                        'class': 'text-center'
                    }
                },
                areas: [],
                isLoaded: false,
                newArea: '',
                showRevertModal: false
            }
        },
        created() {
            this.init()
        },
        computed: {},
        methods: {
            init() {
                let self = this
                apiStandardArea.index()
                    .then(function (response) {
                        self.areas = response.data.areas
                        self.isLoaded = true
                    })
                    .catch(this.handleErrorResponse)
            },
            addArea() {
                this.$validator.validateAll()
                if (this.errors.any()) {
                    return
                }
                let self = this
                apiStandardArea.store({
                    title: this.newArea
                })
                    .then(function (response) {
                        self.areas.push(response.data.area)
                        self.newArea = ''
                        self.errors.clear()
                    })
                    .catch(this.handleErrorResponse)
            },
            deleteArea(id) {
                let self = this
                apiStandardArea.delete(id)
                    .then(function (response) {
                        self.areas.splice(self.areas.findIndex(function (area) {
                            return area.id === id
                        }), 1)
                    })
                    .catch(this.handleErrorResponse)
            },
            revertToDefaultConfirmation() {
                this.showRevertModal = true
            },
            revert() {
                apiStandardArea.restore()
                    .then(response => {
                        this.init()
                    }).catch(this.handleErrorResponse)
            }
        }
    }
</script>

<style scoped>
    .btn-info {
        margin-bottom: 5px;
    }
</style>
