<template>
    <div class="standards-main">
        <div class="card text-center">
            <div class="card-header">
                <h5> Build A New Form </h5>
                <button class="btn pull-right btn-create" @click="buildForm()"><i class="fa fa-plus"></i></button>
            </div>
            <div class="card-body text-left pt-3 pb-3">
                <b-container class="content-container">
                    <label>* Enter a new form name</label>
                    <input type="text" class="form-control mb-3" v-model="form_name">
                    <label>* Enter side menu name</label>
                    <input type="text" class="form-control mb-3" v-model="form_menuname">
                    <label>* Enter form title</label>
                    <input type="text" class="form-control" v-model="form_title">
                    <br>
                    <div>
                        <froala :tag="'textarea'" :config="config" v-model="statement"></froala>
                    </div>
                </b-container>
            </div>
            <div class="card-footer"></div>
        </div>
        <b-modal ref="addstatementModalRef" title="Add Statement" @ok="addStatement">
            <div class="form-group">
                <label>Title:</label>
                <input type="text" name="title" class="form-control" v-model="newtitle" placeholder="Enter statement title">
            </div>
        </b-modal>
    </div>
</template>

<script type="text/babel">
    import ErrorHandler from '../../mixins/error-handler'
    import apiForms from '../../api/forms'
    import '../../../node_modules/froala-editor/js/froala_editor.pkgd.min'
    import '../froala-plugins/tags'
    import '../froala-plugins/statements'
    import '../froala-plugins/blocks'
    import '../froala-plugins/page-break'
    import LegalDisclaimerModal from './modals/LegalDisclaimer'

    export default {
        mixins: [ErrorHandler],
        data () {
            return {
                form_name: null,
                form_menuname: null,
                form_title: null,
                newtitle: null,
                statements: [],
                count: 0,
                addNotes: false,
                addFooter: false,
                statement: '',
                config: {
                    key: this.$config.get('froala_key'),
                    events: {
                        'froalaEditor.initialized': function () {

                        }
                    },
                    height: 600,
                    toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript',
                        '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat',
                        'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage',
                        'insertVideo', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR',
                        'selectAll', 'clearFormatting', '|', 'print', 'help', 'html', '|', 'undo', 'redo', '|', 'Tokens', 'Statements', 'Blocks', '|', 'page-break'],
                    toolbarSticky: false
                },
                revertingIndex: null,
                show: false
            }
        },
        components: {LegalDisclaimerModal},
        created() {
        },
        methods: {
            showStatementModal() {
                this.$refs.addstatementModalRef.show()
            },
            addStatement() {
                this.statements.push({title: this.newtitle, statement: ''})
            },
            deleteStatement(Id) {
                this.statements.splice(Id, 1)
            },
            buildForm() {
                apiForms.store({
                    form_name: this.form_name,
                    form_menuname: this.form_menuname,
                    form_title: this.form_title,
                    addNotes: this.addNotes,
                    addFooter: this.addFooter,
                    statements: [{statement: this.statement}]
                }).then(res => {
                    this.$notify({
                        type: 'success',
                        text: res.data.message
                    })
                    setTimeout(this.$router.push('/standards/formorder'), 500)
                }).catch(this.handleErrorResponse)
            }
        },
        watch: {
            'statement': function() {
                this.buildForm()
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    @import 'froala-editor/css/froala_editor.pkgd.min.css';
    @import 'froala-editor/css/froala_style.min.css';
    #bodyEditor {
        min-height: 500px !important;
    }
    #footerEditor {
        height: 150px !important;
    }
    .fr-box.fr-basic.fr-top .fr-wrapper {
        height: 400px;
        overflow: auto;
    }
    .info-line-bottom label {
        width: 90%;
    }
    .entry {
        background: #E5E5E5;
    }
    .info-bottom label {
        font-weight: 600;
    }
    #standardsSignature .modal-dialog {
        width: 500px !important;
    }
    .card-header {
        position: relative;
        .btn-create {
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            font-size: 15px;
        }
    }
</style>
