<template>
    <div class="standards-scope-list">
        <b-row align-h="end">
            <b-col cols="2" class="text-center" style="font-size:14px; color: black;" v-if="pageIndex !== 'misc'">
                Page: {{ pageIndex }} &nbsp;&nbsp;
                <b-button v-if="pageCount !== 1" class='btn-remove-page' variant="danger" @click="deletePage"
                          :disabled="isbusy">
                    <i class="fa fa-times" aria-hidden="true" style="cursor:pointer;"></i>
                </b-button>
                <hr class="mt-0">
            </b-col>
            <b-col v-else cols="2" class="text-center" style="font-size:14px; color: black;">
                Misc Page
                <hr class="mt-0">
            </b-col>
        </b-row>
        <b-row class="mt-1 mb-3 ml-0 mr-0">
            <b-list-group class="col-md-6 draggable pr-3">
                <draggable v-model="leftSectionScopes" :options="{group: 'project' + pageIndex, animation: 20}" @change="change" @start="dragging = true" @end="dragging = false">
                    <transition-group name="list-complete">
                        <b-list-group-item v-for="item in leftSectionScopes" :key="item.id" class="list-complete-item row fr-box" >
                            <scope-list-item :uoms="uoms" :item="item" :dragging="dragging"></scope-list-item>
                        </b-list-group-item>
                    </transition-group>
                </draggable>
            </b-list-group>

            <b-list-group class="col-md-6 draggable pl-3">
                <draggable v-model="rightSectionScopes" :options="{group: 'project' + pageIndex, animation: 20}" @change="change" @start="dragging = true" @end="dragging = false">
                    <transition-group name="list-complete">
                        <b-list-group-item v-for="item in rightSectionScopes" :key="item.id" class="list-complete-item row fr-box">
                            <scope-list-item :uoms="uoms" :item="item" :dragging="dragging"></scope-list-item>
                        </b-list-group-item>
                    </transition-group>
                </draggable>
            </b-list-group>
        </b-row>
    </div>
</template>

<script type="text/babel">
    import draggable from 'vuedraggable'
    import ErrorHandler from '../../mixins/error-handler'
    import InfiniteLoading from 'vue-infinite-loading'
    import ScopeListItem from './ScopeListItem'
    import apiStandardScope from '../../api/standard_scope'
    import apiStandardForm from '../../api/standard_form'
    import _ from 'lodash'

    export default {
        mixins: [ErrorHandler],
        name: 'standards-project-scope-list',
        components: {draggable, InfiniteLoading, ScopeListItem},
        data() {
            return {
                dragging: false,
                pending: false,
                leftSectionScopes: [],
                rightSectionScopes: []
            }
        },
        props: ['uoms', 'pageIndex', 'pageCount', 'form', 'isbusy', 'scopes', 'allScopes'],
        created() {
            this.$nextTick(() => {
                this._regroupScopes()
            })
            this.$parent.$on('scope-reload', () => {
                this._regroupScopes()
            })
            this.$on('update-scope', payload => {
                this.handleSelectedStatusChange(payload.scope, payload.type)
                this.saveScopes()
            })
        },
        methods: {
            change(event) {
                if (_.has(event, 'moved')) {

                    let newIndex = event.moved.newIndex
                    let movedElement = event.moved.element
                    if (this.pageIndex === movedElement.page) {
                        let elementMovedFromRightSection = _.findIndex(this.rightSectionScopes, scope => {
                            return scope.id === movedElement.id
                        })
                        let elementMovedFromLeftSection = _.findIndex(this.leftSectionScopes, scope => {
                            return scope.id === movedElement.id
                        })

                        if (elementMovedFromRightSection !== -1) {
                            this.rightSectionScopes.splice(elementMovedFromRightSection, 1)
                            this.rightSectionScopes.splice(newIndex, 0, movedElement)
                        } else {
                            this.leftSectionScopes.splice(elementMovedFromLeftSection, 1)
                            this.leftSectionScopes.splice(newIndex, 0, movedElement)
                        }
                    } else {
                        console.log('moved')
                        console.log(event)
                        console.log(this.pageIndex)
                        console.log(this.allScopes)
                    }

                    this.saveScopes()
                }
                if (_.has(event, 'added')) {
                    let movedElement = event.added.element
                    if (this.pageIndex === movedElement.page) {
                        let elementMovedFromRightSection = _.findIndex(this.rightSectionScopes, scope => {
                            return scope.id === movedElement.id
                        })

                        if (elementMovedFromRightSection !== -1) {
                            let elementToTransfer = _.head(this.rightSectionScopes)
                            this.rightSectionScopes.splice(0, 1)
                            this.leftSectionScopes.push(elementToTransfer)
                        } else {
                            let elementToTransfer = this.leftSectionScopes.pop()
                            this.rightSectionScopes.unshift(elementToTransfer)
                        }
                    } else {
                        let newScopes = []
                        let poppedElement = null
                        if (this.pageIndex < movedElement.page) {
                            // poppedElement = _.head(this.allScopes[this.pageIndex])
                            // this.allScopes[this.pageIndex].splice(0, 1)
                            // console.log(poppedElement)
                        } else {
                            poppedElement = _.head(this.allScopes[this.pageIndex])
                            this.allScopes[this.pageIndex].splice(0, 1)
                            console.log(poppedElement)
                            // poppedElement = _.head(this.allScopes[this.pageIndex])
                        }
                        console.log('added')
                        console.log(event)
                        console.log(this.pageIndex)
                        console.log(this.allScopes)
                    }

                    this.saveScopes()
                }
            },
            deletePage() {
                this.$emit('deletePage', {
                    pageIndex: this.pageIndex
                })
            },
            saveScopes: _.debounce(function () {
                const apis = [
                    apiStandardScope.store({
                        scopes: _.concat(this.leftSectionScopes, this.rightSectionScopes)
                    }),
                    apiStandardForm.patch(this.form.id, this.form)
                ]

                Promise.all(apis)
                    .then(response => {
                        this.$parent.$emit('reload-data')
                    }).catch(this.handleErrorResponse)
            }, 200),
            handleSelectedStatusChange(scope, type) {
                if (scope && type === 'selected') {
                        if (scope.selected === 'RH') {
                            scope.selected = 'AH'
                        } else if (scope.selected === 'AH') {
                            scope.selected = 'X'
                        } else if (scope.selected === 'X') {
                            scope.selected = null
                        } else {
                            scope.selected = 'RH'
                        }
                    }
            },
            _regroupScopes() {
                this.leftSectionScopes = []
                this.rightSectionScopes = []
                _.forEach(this.scopes, (scope, index) => {
                    if (index < this.scopes.length / 2) {
                        this.leftSectionScopes.push(scope)
                    } else {
                        this.rightSectionScopes.push(scope)
                    }
                })
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    @import "./scss/ScopeList.scss";
</style>
