<template>
    <div @mouseover="mouseOver(item)" @mouseleave="mouseLeave(item)">
        <div class="fr-quick-insert" :class="{'fr-visible': item.hover}">
            <a class="fr-floating-btn" role="button" tabindex="-1" @click="setHeader(item)">
                <i class="fa fa-header" aria-hidden="true"></i>
            </a>
        </div>
        <div class="fr-quick-insert fr-quick-right" :class="{'fr-visible': item.hover}">
            <a class="fr-floating-btn" role="button" tabindex="-1" @click="removeItem(item)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class="row m-0">
            <label class="check" v-if="!item.header" @click.prevent="updateScopeData(item, 'selected')">{{ item.selected || '&nbsp;' }}</label>
            <div v-else class="header-x text-center grey"> <i class="fa fa-times"></i> </div>

            <b-form-input v-model="item.service"
                          class="header-service"
                          :class="{'grey text-center': item.header}"
                          @input="updateScopeData()"></b-form-input>

            <select v-if='!item.header' v-model='item.uom' class='form-control header-uom pt-0 pb-0' @change="updateScopeData()">
                <option :value='null'> ---- </option>
                <option v-for='uom in uoms' :key='index' :value='uom.id'>{{ uom.title }}</option>
            </select>
            <div v-else class="header-uom text-center grey">UOM</div>

            <b-form-input v-if="!item.header" v-model="item.quantity" class="header-qty" @input="updateScopeData()"></b-form-input>
            <div v-else class="header-qty text-center grey">QTY</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ScopeListItem',
        props: ['uoms', 'item', 'dragging'],
        created() {
            this.$on('hover-effect', (scope, effect) => {
                this.$set(scope, 'hover', effect)
            })
        },
        methods: {
            updateScopeData(item, type) {
                this.$parent.$parent.$parent.$emit('update-scope', {
                    scope: item,
                    type: type
                })
            },
            mouseOver(item) {
                let effect = true
                if (this.dragging) {
                    effect = false
                }
                this.$emit('hover-effect', item, effect)
            },
            mouseLeave(item) {
                this.$emit('hover-effect', item, false)
            },
            setHeader(item) {
                item.header = !item.header
                this.removeItem(item)
                this.updateScopeData()
            },
            removeItem(item) {
                item.service = null
                item.quantity = null
                item.selected = null
                item.uom = null
                this.updateScopeData()
            }
        }
    }
</script>
