<template>
    <div class="project-scope">
        <legal-disclaimer-modal></legal-disclaimer-modal>
        <loader :is-running="isRunning"></loader>

        <div class="card text-left">
            <div class="card-header text-center">
                <h5> {{ form.title }} </h5>
            </div>
            <div class="card-body text-left pt-3 pb-3">
                <b-container class="content-container">
                    <label>* Enter side menu name</label>
                    <input type="text" class="form-control mb-3" v-model="form.name" @input="saveForm">
                    <div class="mt-3 mb-1">
                        <label>* Enter form title</label>
                        <div role="group" class="input-group">
                            <input type="text" class="form-control" v-model="form.title" @input="saveForm">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-info" @click="showRevertConfirm()">Revert</button>
                            </div>
                        </div>
                    </div>
                    <scope-list class="mt-4 mb-3"
                                v-for="(pageScope, pageNumber) in scopes" :key="pageNumber"
                                :scopes="pageScope"
                                :allScopes="scopes"
                                :pageCount='pageCount'
                                :pageIndex="pageNumber"
                                :uoms="uoms"
                                :form="form"
                                @changed="changed" @deletePage="deletePage">
                    </scope-list>
                    <div class="text-left">
                        <b-row class="mt-3" align-h="center">
                            <b-col cols="6" class="text-center">
                                <b-button size="sm" variant="primary" @click="addNewPage"
                                          :disabled="isbusy">
                                    Add New Page
                                </b-button>
                                <hr/>
                            </b-col>
                        </b-row>
                        <scope-list class="mt-4 mb-3"
                                    v-if="miscScopes.length > 0"
                                    :scopes="miscScopes"
                                    :pageIndex="'misc'"
                                    :uoms="uoms"
                                    :form="form"
                                    @changed="changed">
                        </scope-list>
                        <div class="mt-3">
                            <b-form-checkbox v-model="addNotes"
                                             @change="setAndFilter('additional_notes_show', $event)">Additional
                                notes.(Select if you wish to have Additional notes text box)
                            </b-form-checkbox>
                        </div>
                    </div>
                </b-container>
            </div>
            <div class="card-footer"></div>
        </div>

        <b-modal id="revertScope" title="Revert Standard Scope" class="text-left" @ok="revertScope()"
                 v-model="showRevertScope"
                 :ok-title="'Confirm'" :ok-variant="'danger'">
            <h5>Are you sure you want to revert to the default scopes?</h5>
        </b-modal>
    </div>
</template>

<script type="text/babel">
    import {mapActions} from 'vuex'
    import Loader from '../layout/Loader'
    import DataProcessMixin from '../../mixins/data-process'
    import draggable from 'vuedraggable'
    import InfiniteLoading from 'vue-infinite-loading'
    import _ from 'lodash'

    import ErrorHandler from '../../mixins/error-handler'
    import '../../../node_modules/froala-editor/js/froala_editor.pkgd.min'
    import ScopeList from './ScopeList'
    import apiStandardScope from '../../api/standard_scope'
    import apiStandardForm from '../../api/standard_form'
    import apiUom from '../../api/uom'
    import '../froala-plugins/tags'
    import LegalDisclaimerModal from './modals/LegalDisclaimer'

    export default {
        name: 'standards-project-scope',
        mixins: [ErrorHandler, DataProcessMixin],
        components: {Loader, draggable, ScopeList, InfiniteLoading, LegalDisclaimerModal},
        data() {
            return {
                addNotes: false,
                scopes: [],
                miscScopes: [],
                form: {},
                isbusy: false,
                curPageNum: 0,
                pageCount: 0,
                uoms: [],
                showRevertScope: false
            }
        },
        created() {
            this.$nextTick(() => {
                this.init()
            })
        },
        methods: {
            ...mapActions([
                'fetchFormsOrder'
            ]),
            init() {
                this.run()
                let formId = this.$route.params.form_id
                const apis = [
                    apiStandardScope.index(),
                    apiStandardForm.show(formId)
                ]

                return Promise.all(apis)
                    .then(response => {
                        this.scopes = response[0].data.scopes
                        this.miscScopes = response[0].data.misc_scopes
                        this.form = response[1].data.form
                        this.addNotes = this.form.additional_notes_show === 1
                        this.statements = response[1].data.statements
                        this.$emit('data-ready')
                    }).catch(response => {
                    this.$emit('data-failed')
                    this.handleErrorResponse(response)
                })
            },
            initGlobalSettings() {
                this.isbusy = false
                this.curPageNum = 0
                this.pageCount = 0
            },
            changed(payload) {
            },
            addNewPage() {
                apiStandardScope.addPage()
                    .then(response => {
                        this.init()
                    }).catch(response => {
                    this.$emit('data-failed')
                    this.handleErrorResponse(response)
                })
            },
            deletePage(payload) {
                apiStandardScope.removePage({page: payload.pageIndex})
                    .then(response => {
                        this.init()
                    }).catch(this.handleErrorResponse)
            },
            setAndFilter(field, value) {
                this.form[field] = (value ? 1 : 0)
                if (field === 'footer_text_show' && !value) this.form.footer_text = null
                this.saveForm()
            },
            saveForm: _.debounce(function () {
                if (this.form.id) {
                    apiStandardForm.patch(this.form.id, this.form)
                        .then(response => {
                            this.init()
                            this.fetchFormsOrder()
                        }).catch(this.handleErrorResponse)
                } else {
                    apiStandardForm.store(this.form)
                        .then(response => {
                            this.form.id = response.data.form.id
                            this.init()
                            this.fetchFormsOrder()
                        }).catch(this.handleErrorResponse)
                }
            }, 500),
            showRevertConfirm() {
                this.showRevertScope = true
            },
            revertScope() {
                this.run()
                this.initGlobalSettings()
                apiStandardScope.revert()
                    .then(response => {
                        this.init()
                            .then(() => {
                                this.$emit('scope-reload')
                            })
                    })
                    .catch(this.handleErrorResponse)
            }
        },
        watch: {
            '$store.state.StandardForm.formsOrder': function () {
                this.isLoaded = false
                apiUom.index().then(response => {
                    this.uoms = response.data.uoms
                }).catch(this.handleErrorResponse)
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    @import 'froala-editor/css/froala_editor.pkgd.min.css';
    @import 'froala-editor/css/froala_style.min.css';
    @import './scss/Scope.scss';
</style>
