<template>

    <b-modal id="selectForm-print" title="Form Preview" v-model="showModal" modal-class="preview-modal" size="lg">
        <iframe :src="file" style="width: 100%;height: 90vh;border: none;"></iframe>
    </b-modal>
</template>

<script type="text/babel">
    import Loader from '../layout/Loader'
    import ErrorHandler from '../../mixins/error-handler'
    import DataProcessMixin from '../../mixins/data-process'
    import apiStandardFormPreview from '../../api/standard_forms_preview'

    export default {
        mixins: [ErrorHandler, DataProcessMixin],
        components: {
            Loader
        },
        data() {
            return {
                showModal: true,
                file: null
            }
        },
        created() {
            this.$nextTick(() => {
                this.init()
            })
        },
        methods: {
            init() {
                this.run()
                apiStandardFormPreview.preview(this.$route.params.form_id)
                    .then(response => {
                        this.file = response.data
                        this.$emit('data-ready')
                    }).catch(response => {
                    this.$emit('data-failed')
                    this.handleErrorResponse(response)
                })
            }
        },
        computed: {

        },
        watch: {
            showModal: function () {
                if (!this.showModal) {
                    this.$router.go(-1)
                }
            }
        }
    }
</script>


<style type="text/css" lang="scss" rel="stylesheet/scss">
    .custom-control .custom-control-input:disabled ~ .custom-control-indicator {
        background-color: #d3dbe4 !important;
    }
</style>

<style type="text/css" lang="scss" rel="stylesheet/scss">
    .preview-modal {
        div {
            div {
                .modal-dialog  {
                    max-width: 70% !important;
                }
            }
        }
    }

    .modal-lg {
        max-width: 70% !important;
    }
</style>
