<template>
    <div class="standards-calendar">
        <loader :is-running="isRunning"></loader>

        <div class="card text-center" v-if="isLoaded">
            <div class="card-header">
                <h5>{{ $route.meta.title }}</h5>
            </div>
            <div class="card-body text-left" v-show="isShow">
                <button @click="refreshEvents" class="btn btn-default">Refresh</button>
                <create-event></create-event>
                <delete-event></delete-event>
                <full-calendar ref="calendar" :event-sources="eventSources" @event-selected="eventSelected" @event-created="eventCreated" :config="config" @event-drop="eventChanged" @event-resize="eventChanged"></full-calendar>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
    </div>
</template>

<script>
    import Loader from '../../layout/Loader'
    import CreateEvent from './modals/CreateEvent'
    import DeleteEvent from './modals/DeleteEvent'
    import apiEvents from '../../../api/event'
    import DataProcessMixin from '../../../mixins/data-process'

    export default {
        name: 'Calendar',
        mixins: [DataProcessMixin],
        data() {
            return {
                isLoaded: false,
                isShow: true,
                events: [
                    {
                        title: 'event1',
                        start: '2018-06-09'
                    },
                    {
                        title: 'event2',
                        start: '2018-06-12',
                        end: '2018-06-15'
                    }
                ],
                selected: {
                    id: null,
                    eventID: null,
                    title: '',
                    start: '',
                    end: '',
                    allDay: '',
                    color: ''
                },
                config: {
                    eventColor: '#bce8f1',
                    eventTextColor: 'white'
                }
            }
        },
        components: { Loader, CreateEvent, DeleteEvent },
        created() {
            this.$nextTick(() => {
                this.initData()
            })
            this.$on('createEvent', (event) => {
                this.run()
                apiEvents.store({
                    start: this.$moment(event.start).format('YYYY-MM-DD HH:mm:ss'),
                    end: event.end ? this.$moment(event.end).format('YYYY-MM-DD HH:mm:ss') : null,
                    title: event.title,
                    color: event.color
                })
                    .then(response => {
                        event.id = response.data.event.id
                        this.refreshEvents()
                        this.$refs.calendar.$emit('render-event', event)
                        this.events = this.$refs.calendar.fireMethod('clientEvents')
                        this.$emit('data-ready')
                    })
            })
            this.$on('refreshCalendar', () => {
                this.refreshEvents()
            })
            this.$on('deleteEvent', () => {
                this.removeEvent()
            })
        },
        methods: {
            initData() {
                apiEvents.index()
                    .then(response => {
                        this.isLoaded = true
                        this.events = response.data
                    })
            },
            refreshEvents() {
                this.$refs.calendar.$emit('refetch-events')
            },
            removeEvent() {
                this.$refs.calendar.$emit('remove-event', this.selected.id)
                this.isShow = false
                this.events = this.$refs.calendar.fireMethod('clientEvents')
                this.selected.id = null
                apiEvents.delete(this.selected.eventID)
                    .then(response => {
                        this.isShow = true
                        this.selected.eventID = null
                    })
            },
            eventSelected(event) {
                this.selected = {
                    id: event._id,
                    eventID: event.id
                }
                this.$emit('openDeleteEventModal', event)
            },
            eventCreated(event) {
                this.$refs.calendar.$emit('render-event', event)
                this.$emit('openCreateEventModal', event)
            },
            eventChanged(event) {
                console.log(event)
                this.isShow = false
                this.events = this.$refs.calendar.fireMethod('clientEvents')
                apiEvents.patch(event.id, {
                    start: this.$moment(event.start).format('YYYY-MM-DD HH:mm:ss'),
                    end: event.end ? this.$moment(event.end).format('YYYY-MM-DD HH:mm:ss') : null,
                    title: event.title,
                    color: event.color
                })
                    .then(response => {
                        this.isShow = true
                    })
            }
        },
        computed: {
            eventSources() {
                const self = this
                return [
                    {
                        events(start, end, timezone, callback) {
                            callback(self.events)
                        }
                    }
                ]
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss">
.standards-calendar {
    @import 'fullcalendar/dist/fullcalendar.min.css';
    .card-body {
        background: #f4f4f4;
    }
    .fc-center {
        color: #2196f3;
        text-shadow: 2px 2px 10px hsla(0,24%,71%,.9);
        h2 {
            font-size: 1.5em;
        }
    }
    .fc-view-container {
        background: white;
    }
}
</style>
