=carousel-img
  +shadow-6
  +m(20px 0)
  +h(400px)
.feature.description
  min-height: 320px
  @media screen and (max-width: 1199px)
    min-height: 280px
  @media screen and (max-width: 991px)
    min-height: unset
  figure
    &:not(.inner)
      +none
      @media screen and (max-width: 767px)
        +block
    img
      +w(100%)
      +p2(20px 0)
      &.feature-5
        +h-center(relative)
        +w(unset)
        +carousel-img
  .text
    +clr($description-text)
    +m(0)
    +mb(5px)
      
.feature.image
  figure
    +rel
    +h(100%)
    @media screen and (max-width: 767px)
      +none
    img
      +w(100%)
      +v-h-center(absolute)
  &.large
    &.left
      +none
      @media screen and (max-width: 991px)
        +block
    &.right
      +block
      @media screen and (max-width: 991px)
        +none
    figure img
      +v-h-center(relative)


.inner-feature
  +pt(10px)
  +pb(10px)

#mktg-features
  +pb(70px)
  .mktg-page-banner
    .background
      +h(100%)
  .main.container
    +pt(35px)
    +pb(35px)
    &.four
      +pb(0)
    @media screen and (max-width: 575px)
      +pt(15px)
    header h5
      &::before
        +bg($yellow)
        +h(25px)
        bottom: -25px !important

  .carousel
    &.left
      +block
      @media screen and (max-width: 767px)
        +none
    &.right
      +none
      @media screen and (max-width: 767px)
        +block
    img
      +carousel-img
    .carousel-control-next-icon,
    .carousel-control-prev-icon
      background-image: none
    .carousel-control-next-icon:after,
    .carousel-control-prev-icon:after
      +font(55px)
      +clr($tertiary)
      +bolder
      +rel
      top: -55px
    .carousel-control-next-icon:after
      content: '>'
    .carousel-control-prev-icon:after
      content: '<'

.feature-7
  img
    position: static !important
    transform: unset !important
    max-width: 400px
    +w(100% !important)
    @media screen and (max-width: 767px)
      +h-center(relative !important)
      transform: translateX(-50%) !important