<template>
    <b-container fluid>
        <div class="row padding" v-if="user.id">
            <b-col cols="6" class="panel">
                <div class="panel-heading"><strong>Equipment</strong></div>
                <div class="panel-body">
                    <div class="filters">
                        <b-form-select v-model="filters.equipment.team" :options="teams" size="sm" value-field="id"
                                       text-field="name" @input="reloadProjects"></b-form-select>
                    </div>
                    <equipment-chart v-for="dataSet in equipmentSets" v-if="showGraphs"
                                     :chart-data="dataSet"></equipment-chart>
                </div>
            </b-col>

            <b-col cols="6" class="panel">
                <div class="panel-heading"><strong>Projects</strong></div>
                <div class="panel-body">
                    <div class="filters">
                        <b-form-select v-model="filters.projects.year" :options="years" size="sm"
                                       @input="reloadProjects"></b-form-select>
                        <b-form-select v-model="filters.projects.team" :options="teams" size="sm" value-field="id"
                                       text-field="name" @input="reloadProjects"></b-form-select>
                    </div>
                    <div class="legend">
                        <div class="item"><label class="red"></label> <span>All</span></div>
                        <div class="item"><label class="yellow"></label> <span>In Progress</span></div>
                        <div class="item"><label class="green"></label> <span>Completed</span></div>
                        <div class="item"><label class="blue"></label> <span>Deleted</span></div>
                    </div>
                    <projects-chart v-if="showGraphs" :chart-data="projectsDataSet"></projects-chart>
                </div>
            </b-col>
        </div>
    </b-container>
</template>

<script type="text/babel">
    import {mapGetters} from 'vuex'
    import Loader from '../layout/Loader'
    import ErrorHandler from '../../mixins/error-handler'
    import DataProcessMixin from '../../mixins/data-process'

    import apiDashboard from '../../api/dashboard'
    import apiTeams from '../../api/teams'
    import ProjectsChart from './partials/ProjectsChart'
    import EquipmentChart from './partials/EquipmentChart'
    import _ from 'lodash'

    export default {
        name: 'Dashboard',
        mixins: [ErrorHandler, DataProcessMixin],
        components: {ProjectsChart, EquipmentChart, Loader},
        data() {
            return {
                showGraphs: false,
                teams: [],
                years: [],
                equipmentSets: [],
                projectsDataSet: {
                    labels: [
                        'All',
                        'In Progress',
                        'Completed',
                        'Deleted'
                    ],
                    datasets: []
                },
                filters: {
                    projects: {
                        year: new Date().getFullYear(),
                        team: null
                    },
                    equipment: {
                        team: null
                    }
                }
            }
        },
        created() {
            this.$nextTick(() => {
                for (let year = new Date().getFullYear(); year >= 2015; year--) {
                    this.years.push({
                        value: year,
                        text: year
                    })
                }
                this.init()
            })
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        },
        methods: {
            init() {
                this.run()
                apiTeams.index()
                    .then(response => {
                        this.teams = response.data.data
                        this.filters.projects.team = this.teams[0].id
                        this.filters.equipment.team = this.teams[0].id
                        this.$emit('data-ready')
                        this.reloadProjects()
                    })
            },
            reloadProjects() {
                const apis = [
                    apiDashboard.equipment(this.filters.equipment),
                    apiDashboard.projects(this.filters.projects)
                ]

                Promise.all(apis)
                    .then(response => {
                        this.projectsDataSet = []
                        this.equipment = response[0].data.data

                        this._updateEquipmentDataSets(response[0].data.data)
                        this._updateProjectsDataSet(response[1].data.data)

                        this.showGraphs = true
                    }).catch(response => {
                    this.$emit('data-failed')
                    this.handleErrorResponse(response)
                })
            },
            _updateProjectsDataSet(projects) {
                this.projectsDataSet = {
                    labels: [
                        'All',
                        'In Progress',
                        'Completed',
                        'Deleted'
                    ],
                    datasets: [{
                        data: [projects.all, projects.in_progress, projects.completed, projects.deleted],
                        backgroundColor: ['#dc3545', '#ffc107', '#28a745', '#007bff']
                    }]
                }
            },
            _updateEquipmentDataSets(equipmentData) {
                this.equipmentSets = []
                _.forEach(equipmentData, equipment => {
                    this.equipmentSets.push({
                        labels: ['Available', 'Set', 'Loan', 'Missing', 'O.O.C.'],
                        datasets: [
                            {
                                label: equipment.name + ' (Total: ' + equipment.total + ')',
                                backgroundColor: ['#28a745', '#007bff', '#6f42c1', '#ffc107', '#dc3545'],
                                data: [equipment.available, equipment.set, equipment.loan, equipment.missing, equipment.ooc]
                            }
                        ]
                    })
                })
            }
        }
    }
</script>

<style type="text/css" lang="scss" rel="stylesheet/scss" scoped>
    .padding {
        padding: 20px;
    }

    .panel {
        border-radius: 4px;
        .panel-heading {
            background: rgba(0, 0, 0, 0.03);
            padding: 5px;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-bottom: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .panel-body {
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 10px;
            max-height: 80vh;
            overflow-y: auto;
            .filters {
                text-align: center;
                width: 50%;
                select {
                    margin-left: 50%;
                    margin-bottom: 10px;
                }
            }
        }
        .legend {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 12px;
            .item {
                height: 16px;
                label {
                    width: 32px;
                    height: 16px;
                    display: inline-block;
                    margin: 0;
                }
                span {
                    vertical-align: top;
                }
                .red {
                    background-color: #cc444a;
                }
                .yellow {
                    background-color: #f6c244;
                }
                .green {
                    background-color: #51a451;
                }
                .blue {
                    background-color: #337cf6;
                }
            }
        }
    }
</style>
