.scope-list-group {
    padding-left: 15px !important;
    .disable-edit {
        background: #efefef !important;
    }
    label.custom-checkbox {
        width: 31px !important;
        height: 28px !important;
        padding: 0px !important;
        margin: 0px !important;
        cursor: pointer;
        .custom-control-indicator {
            width: 28px !important;
            height: 28px !important;
            top: 0px !important;
            border-radius: 3px !important;
            border: none !important;
            background-color: white;
        }
    }
    .custom-control .custom-control-input:checked~.custom-control-indicator {
        background-size: 40% !important;
        background-position-x: 50% !important;
        background-position-y: 50% !important;
        background-repeat: no-repeat !important;
        background-color: #2196F3;
    }
    input {
        text-align: center;
        width: 100%;
        line-height: 27px;
        height: 27px;
        background-color: transparent;
        border: none !important;
        font-size: 13px !important;
        color: black;
    }
    select {
        height: 27px !important;
        line-height: 27px;
        border: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-align-last: center;
        padding: 0px;
        padding-left: 5px;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        color: black;
        text-align: -webkit-center;
    }
    .list-group-item {
        line-height: 27px;
        height: 31px;
        word-wrap: initial;
    }
    .fr-quick-insert {
        margin-left: -27px;
        padding: 0px !important;
        width: 27px;
        height: 31px;
    }
    .fr-quick-right {
        right: -10px;
        a {
            color: #e5321e !important;
        }
    }
    .fr-box a.fr-floating-btn {
        line-height: 26px;
        height: 26px;
        width: 26px;
        text-decoration: none;
        i {
            line-height: 26px;
        }
    }
}

.w-service {
    width: calc(100% - 211px);
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 13px !important;
}

.w-uom {
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.w-selected {
    width: 31px;
    height: 31px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.w-qty {
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.bg-grey {
    background-color: #c3c3c3;
}

.disabled {
    background-color: white !important;
    cursor: not-allowed;
    color: black !important;
}

.disabled.bg-grey {
    color: black;
    background-color: #c3c3c3 !important;
}
