<template>

    <b-modal id="selectForm-print" :title="'Select Forms for ' + $route.meta.title" v-model="showModal">
        <loader :is-running="isRunning"></loader>

        <b-form-checkbox-group id="forms" name="forms" v-model="selectedForms">
            <div v-for="form in forms" :key="form.form_id" v-if="form.form_id !== 12">
                <b-form-checkbox :value="form.form_id">
                    {{ form.name }}
                </b-form-checkbox>
            </div>
        </b-form-checkbox-group>
        <hr>

        <h6 v-if="this.$route.meta.title === 'Save'">Select PDF type</h6>
        <b-form-radio-group v-if="this.$route.meta.title === 'Save'" stacked v-model="selectedPDFType" :options="pdfTypes"></b-form-radio-group>

        <b-form-checkbox v-model="dropboxUpload" :value="1" :unchecked-value="0" :disabled="!company.dropbox_access_token" v-if="$route.meta.title === 'Save'">
            Upload pdf to Dropbox? <i class="fa fa-question-circle" v-b-tooltip.hover title="Make sure you've filled Call Report before saving to Dropbox"></i>
        </b-form-checkbox>

        <div slot="modal-footer" class="w-100">
            <b-btn variant="primary" class="float-right" @click="printForm()">{{ this.$route.meta.title }}</b-btn>
        </div>
    </b-modal>
</template>

<script type="text/babel">
    import Loader from '../layout/Loader'
    import ErrorHandler from '../../mixins/error-handler'
    import apiProjectForms from '../../api/project_forms'
    import DataProcessMixin from '../../mixins/data-process'
    import Vue from 'vue'
    import _ from 'lodash'

    export default {
        mixins: [ErrorHandler, DataProcessMixin],
        components: {
            Loader
        },
        data() {
            return {
                forms: [],
                showModal: true,
                selectedForms: [],
                projectId: null,
                dropboxUpload: 0,
                initiated: false,
                selectedPDFType: 'multiple',
                pdfTypes: [
                    {text: 'Save as individual PDFs', value: 'multiple'},
                    {text: 'Save as one PDF', value: 'single'}
                ]
            }
        },
        created() {
            this.projectId = parseInt(this.$route.params.project_id)
            this.$nextTick(() => {
                this.init()
            })
        },
        methods: {
            init() {
                this.run()
                apiProjectForms.index({project_id: this.$route.params.project_id})
                    .then(response => {
                        this.forms = response.data
                        this.forms.forEach(form => {
                            if (form.form_id !== 12) {
                                this.selectedForms.push(form.form_id)
                            }
                        })
                        this.$emit('data-ready')
                    }).catch(response => {
                    this.$emit('data-failed')
                    this.handleErrorResponse(response)
                })
            },
            setCookie(name, value, hours) {
                var expires = ''
                if (hours) {
                    var date = new Date()
                    date.setTime(date.getTime() + (hours * 60 * 60 * 1000))
                    expires = '; expires=' + date.toUTCString()
                }
                document.cookie = name + '=' + (value || '') + expires + '; path=/'
            },
            printForm() {
                let projectForms = this.selectedForms

                if (projectForms.length <= 0) {
                    this.$notify({
                        type: 'error',
                        title: 'Error',
                        text: 'Please select forms'
                    })
                    return
                }
                if (!this.dropboxUpload) {
                    window.open(this.getPrintUrl(projectForms), '_blank')
                } else {
                    this.run()
                    let multiple = this.selectedPDFType === 'multiple' ? 1 : 0
                    apiProjectForms.print(this.projectId, {
                        forms: _.join(projectForms, ','),
                        dropbox_upload: this.dropboxUpload,
                        token: Vue.localStorage.get('apiToken'),
                        multiple: multiple
                    }).then(response => {
                        this.$emit('data-ready')
                        this.$notify({
                            type: 'success',
                            title: 'Success',
                            text: response.data.message
                        })
                    }).catch(response => {
                        this.$emit('data-failed')
                        this.handleErrorResponse(response)
                    })
                }
            },
            getPrintUrl(projectForms) {
                let token = Vue.localStorage.get('apiToken')
                let download = this.$route.meta.title === 'Save' ? 1 : 0
                let multiple = this.selectedPDFType === 'multiple' ? 1 : 0
                return '/project/print/' + this.projectId + '?forms=' + projectForms + '&dropbox_upload=' + this.dropboxUpload + '&token=' + token + '&download=' + download + '&multiple=' + multiple + '&v=' + (Math.random() * 100) + 1
            }
        },
        computed: {
            projectForms: function () {
                return this.$store.state.ProjectForm.projectForms
            },
            company: function () {
                return this.$store.state.User.company
            }
        },
        watch: {
            showModal: function () {
                if (!this.showModal) {
                    this.$router.push({
                        name: 'Form Call Report',
                        params: {
                            project_id: this.projectId,
                            form_id: 1
                        }
                    })
                }
            }
        }
    }
</script>


<style type="text/css" lang="scss" rel="stylesheet/scss">
    .custom-control .custom-control-input:disabled ~ .custom-control-indicator {
        background-color: #d3dbe4 !important;
    }
</style>
