.article-card
  +shadow-1
  +h(100%)
  +pb(60px)
  max-height: 500px
  .read-more-btn
    +a-right
    .btn
      +abs
      bottom: 20px
      left: 20px
      right: 20px
    &.first
      .btn
        +pl(48px)
        +pr(48px)
        @media screen and (min-width: 576px)
          +inline-block
          left: unset