.mktg-page-banner
  +rel
  +z(0)
  .container
    +rel
    +z(1)
    .content
      +p2(50px 0)
      @media screen and (max-width: 575px)
        +p2(20px 0)
      .title
        +clr($white)
      .main.title
        +suez-one
      .sub.title
        +catamaran
      img
        +w(100%)
        +pt(40px)
  .background
    +abs
    top: 0
    right: 0
    left: 0
    +h(300px)
    +bg(linear-gradient(to bottom right, $navy-blue, $secondary-lightest))
    +z(0)
    +v-clipped