@keyframes scroll-down
  0%
    top: 20%
    opacity: 1
    +square(7px)
  100%
    top: 60%
    +square(3px)
    opacity: 0.5

@keyframes fall
  0%
    bottom: 25px
  100%
    bottom: 18px

.mouse-scroll
  +box(30px, 50px)
  +b(2px solid $white)
  +radius(30px)
  +clr(red)
  animation: fall 1s linear 0s infinite forwards

.mouse-scroll::before
  content: ""
  +block
  +square(7px)
  +radius(50%)
  +bg($white)
  top: 10px
  +h-center(relative)
  animation: scroll-down 1s linear 0s infinite forwards