#mktg-footer
  .top
    +bg($primary)
    +p4(70px 0 50px 0)
    figure
      +a-center
      img
        +radius(4px)
    .links
      +a-center
      +p(0)
      +m(0)
      .item
        +p2(8px 16px)
        +inline-block
        +catamaran
        +clr($white)
        text-transform: uppercase
        text-decoration: none
        &:hover
          +bg($primary-light)
        @media screen and (max-width: 575px)
          +block
    .social
      +a-center
      a
        +inline-block
        +square(50px)
        +rel
        &:hover
          +bg($primary-light)
        i
          +clr($white)
          +v-h-center(absolute)
  .bottom
    +a-center
    +pb(20px)
    +bg($primary)
    .item
      +p(5px 10px)
      +inline-block
      +clr($white)
      text-decoration: none
      &:hover
        text-decoration: underline
      @media screen and (max-width: 575px)
        +block
    .middot
      +clr($white)
      @media screen and (max-width: 575px)
        +none