#mktg-navbar
  +h(70px)
  +bg($primary)
  .logo
    +v-center(absolute)
    +radius(4px)
  li
    a
      +clr(white)
      &::after
        +underline
    &:hover a::after
      +w(100%)
      opacity: 1
  .toggler
    +clr(white)
    +none
    @media screen and (max-width: 768px)
      +block
  .links
    transition: 0.3s ease
    .inner-toggler
      +none
    a
      +p2(0.3rem 1rem)
      +pt(calc(0.3rem, 3px))
    .login
      a
        +bg($secondary)
        +radius(30px)
        &::after
          +none
    @media screen and (max-width: 768px)
      +z(3)
      +block
      +pos(fixed, 0, -250px, 0, unset)
      +bg($primary-lighter)
      +w(250px)
      +pt(13px)
      &.is-open
        right: 0
      li
        +block
        &.inner-toggler
          +block
        a
          +block
          &::after
            +none
      .login
        a
          +bg(transparent)
          +radius(0)
  .backdrop
    +z(2)
    +none
    @media screen and (max-width: 768px)
      &.is-open
        +block
        +pos(fixed, 0, 0, 0, 0)
        +bg(rgba(0, 0, 0, 0.5))
  
  .Cookie
    .Cookie__button
      +bg($secondary)
    a
      +clr($secondary-light)
